### 2021_09_28_2 3

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("./CSV/train.csv")
test = pd.read_csv("./CSV/test.csv")
sub = pd.read_csv("./CSV/sample_submission.csv")

print("train shape :", train.shape)
print("test shape :", test.shape)
print("sub shape :", sub.shape)
print(train.columns)
print(test.columns)

train shape : (891, 12)
test shape : (418, 11)
sub shape : (418, 2)
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [4]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
for col1 in train.columns :
    print(col1)
    print(train[col1].head())
    print()

PassengerId
0    1
1    2
2    3
3    4
4    5
Name: PassengerId, dtype: int64

Survived
0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

Pclass
0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

Name
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

Sex
0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

Age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

SibSp
0    1
1    1
2    0
3    1
4    0
Name: SibSp, dtype: int64

Parch
0    0
1    0
2    0
3    0
4    0
Name: Parch, dtype: int64

Ticket
0           A/5 21171
1            PC 17599
2    STON/O2. 3101282
3              113803
4              373450
Name: Ticket, dtype: object

Fare
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

Cabin
0     NaN
1     C85
2     NaN
3    C123
4     NaN
Name: Cabin, dtype: object

Embarked
0    S
1    C
2    S
3    S
4    S
Name: Embarked, dtype: object