### 코로나 데이터
* 코로나 데이터 처리
    * 기간 : 2020-01-20 ~ 2021-08-31
* 데이터 프레임 생성
    * 전체 데이터 프레임                    -> corona_df
    * 주말 제거된 데이터 프레임(토, 일 제거)    -> corona_coin_df
* 각각의 csv 파일 생성
    * 전체 데이터           -> corona.csv        -> 코로나 vs 뉴스 상관관계 분석에 사용
    * 주말 제거된 데이터      -> corona_coin.csv   -> 코로나 vs 주식, 코인 상관관계 분석에 사용

In [90]:
import pandas as pd
from datetime import datetime

In [2]:
xlsx = pd.read_excel("./EXCEL/코로나바이러스감염증-19_확진환자_발생현황_210928.xlsx")
xlsx.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN
3         일자       계(명)    국내발생(명)    해외유입(명)      사망(명)
4      누적(명)     305842     291457      14385     2463.5

In [4]:
xlsx.shape

(623, 5)

In [6]:
xlsx.isnull().sum()

Unnamed: 0    3
Unnamed: 1    3
Unnamed: 2    3
Unnamed: 3    3
Unnamed: 4    3
dtype: int64

In [31]:
# 상단 3개 행 제거
xlsx_tmp = xlsx.drop([0, 1, 2, 3, 4])

In [32]:
xlsx_tmp.reset_index(drop = True, inplace = True)
xlsx_tmp.head(3)

            Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0  2020-01-20 00:00:00          1          -          1          -
1  2020-01-21 00:00:00          0          -          -          -
2  2020-01-22 00:00:00          0          -          -          -

In [33]:
xlsx_tmp.columns = ["일자", "계(명)", "국내발생(명)", "해외유입(명)", "사망(명)"]
xlsx_tmp.head(3)

                    일자 계(명) 국내발생(명) 해외유입(명) 사망(명)
0  2020-01-20 00:00:00    1       -       1     -
1  2020-01-21 00:00:00    0       -       -     -
2  2020-01-22 00:00:00    0       -       -     -

In [86]:
corona_df = xlsx_tmp[["일자", "계(명)"]]
corona_df["계(명)"] = corona_df["계(명)"].astype("int")
corona_df.head(3)

/var/folders/t9/yt46lj5s0lv1slvgpm05mrs00000gn/T/ipykernel_61981/4117156924.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  corona_df["계(명)"] = corona_df["계(명)"].astype("int")

                    일자  계(명)
0  2020-01-20 00:00:00     1
1  2020-01-21 00:00:00     0
2  2020-01-22 00:00:00     0

In [87]:
corona_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618 entries, 0 to 617
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      618 non-null    object
 1   계(명)    618 non-null    int64
dtypes: int64(1), object(1)
memory usage: 9.8+ KB

In [122]:
corona_df["일자"] = corona_df["일자"].astype("str")

In [123]:
corona_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590 entries, 0 to 589
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      590 non-null    object
 1   계(명)    590 non-null    int64
dtypes: int64(1), object(1)
memory usage: 30.0+ KB

In [126]:
corona_df["일자"] = pd.to_datetime(corona_df["일자"], unit = "ns")

In [95]:
corona_df["일자"].apply(lambda _ : datetime.strptime(_, "%Y-%m-%d %H:%M:%S"))

0     2020-01-20
1     2020-01-21
2     2020-01-22
3     2020-01-23
4     2020-01-24
         ...
613   2021-09-24
614   2021-09-25
615   2021-09-26
616   2021-09-27
617   2021-09-28
Name: 일자, Length: 618, dtype: datetime64[ns]

In [97]:
# corona_df["일자"] = corona_df["일자"].apply(lambda _ : datetime.strptime(_, "%Y-%m-%d %H:%M:%S"))

/var/folders/t9/yt46lj5s0lv1slvgpm05mrs00000gn/T/ipykernel_61981/992339725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  corona_df["일자"] = corona_df["일자"].apply(lambda _ : datetime.strptime(_, "%Y-%m-%d %H:%M:%S"))

In [127]:
corona_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590 entries, 0 to 589
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      590 non-null    datetime64[ns]
 1   계(명)    590 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 30.0 KB

In [128]:
corona_df = corona_df.loc[corona_df["일자"] < '2021-09-01', :]
corona_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590 entries, 0 to 589
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      590 non-null    datetime64[ns]
 1   계(명)    590 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 13.8 KB

In [130]:
corona_df.tail()

            일자  계(명)
585 2021-08-27  1837
586 2021-08-28  1791
587 2021-08-29  1619
588 2021-08-30  1485
589 2021-08-31  1370

In [131]:
corona_df["일자"][6].strftime("%A")

'Sunday'

In [132]:
corona_df["일자"].dt.strftime("%A")

0         Monday
1        Tuesday
2      Wednesday
3       Thursday
4         Friday
         ...
585       Friday
586     Saturday
587       Sunday
588       Monday
589      Tuesday
Name: 일자, Length: 590, dtype: object

In [136]:
corona_df["일자"].dt.weekday # 0 : Monday, 6 : Sunday

0      0
1      1
2      2
3      3
4      4
      ..
585    4
586    5
587    6
588    0
589    1
Name: 일자, Length: 590, dtype: int64

In [146]:
# 5(토요일) : 84, 6(일요일) : 84
# 590 - 84 - 84 = 422
corona_coin_df = corona_df.loc[(corona_df["일자"].dt.weekday != 5) & (corona_df["일자"].dt.weekday != 6), :]
corona_coin_df.shape

(422, 2)

In [149]:
corona_coin_df.reset_index(drop = True, inplace = True)
corona_coin_df.tail()

            일자  계(명)
417 2021-08-25  2154
418 2021-08-26  1882
419 2021-08-27  1837
420 2021-08-30  1485
421 2021-08-31  1370

### DataFrame

In [150]:
print("corona_df shape :", corona_df.shape)
print("corona_coin_df shape : ", corona_coin_df.shape)

corona_df shape : (590, 2)
corona_coin_df shape :  (422, 2)

In [151]:
corona_df.to_csv("./CSV/corona.csv")
corona_coin_df.to_csv("./CSV/corona_coin.csv")