### 뉴스 데이터 xlsx to csv
* 엑셀 파일의 뉴스 데이터를 모두 가져와 csv 파일로 저장

In [100]:
import pandas as pd
import datetime

In [101]:
# 일자 list 생성
start = datetime.datetime.strptime("2020-01-20", "%Y-%m-%d")
end = datetime.datetime.strptime("2021-09-01", "%Y-%m-%d")
date_tmp = [start + datetime.timedelta(days = x) for x in range(0, (end-start).days)]
date_list = []

for date in date_tmp :
    date_list.append(date.strftime("%Y%m%d"))

In [102]:
# excel file name : NewsResult_20200120-20200121
# skiprows = [0]
# 1. 706
# 2. 1191
# 3. 848
news_tmp = pd.read_excel("./EXCEL/NewsResult_20200120-20200121.xlsx")
pd.set_option("display.max_rows", 100)

In [103]:
len(date_list)

590

In [104]:
print("news_tmp shape :", news_tmp.shape)

news_tmp shape : (706, 19)

In [105]:
col = news_tmp.columns
print("col len :", len(col))
for i in col :
    print(i, end = ", ")

col len : 19
뉴스 식별자, 일자, 언론사, 기고자, 제목, 통합 분류1, 통합 분류2, 통합 분류3, 사건/사고 분류1, 사건/사고 분류2, 사건/사고 분류3, 인물, 위치, 기관, 키워드, 특성추출(가중치순 상위 50개), 본문, URL, 분석제외 여부,

In [106]:
news_data = news_tmp.iloc[1:, :]
news_data.columns = col
print("news_data shape :", news_data.shape)

news_data shape : (705, 19)

In [107]:
# 2 ~ len(date_list)
# result2 = pd.concat([df1,df2], ignore_index=True)
# 705 + 1190 + 847 = 2742

for i in range(2, len(date_list), 2) :
    news_tmp = pd.read_excel(f"./EXCEL/NewsResult_{date_list[i]}-{date_list[i + 1]}.xlsx", skiprows = [0])
    news_tmp.columns = col
    news_data = pd.concat([news_data, news_tmp], ignore_index = True)
    print(int(i / 2), "data shape :", news_tmp.shape)
    #     print("data length :", len(news_tmp))
    
# print(type(news_data))
print("data shape :", news_data.shape)

1 data shape : (1190, 19)
2 data shape : (847, 19)
3 data shape : (1686, 19)
4 data shape : (6107, 19)
5 data shape : (6251, 19)
6 data shape : (3446, 19)
7 data shape : (8088, 19)
8 data shape : (8047, 19)
9 data shape : (4117, 19)
10 data shape : (5139, 19)
11 data shape : (6167, 19)
12 data shape : (5214, 19)
13 data shape : (2630, 19)
14 data shape : (6241, 19)
15 data shape : (8116, 19)
16 data shape : (6978, 19)
17 data shape : (10650, 19)
18 data shape : (15268, 19)
19 data shape : (14258, 19)
20 data shape : (6380, 19)
21 data shape : (15302, 19)
22 data shape : (15041, 19)
23 data shape : (7679, 19)
24 data shape : (10608, 19)
25 data shape : (15073, 19)
26 data shape : (13174, 19)
27 data shape : (5560, 19)
28 data shape : (14937, 19)
29 data shape : (15479, 19)
30 data shape : (7393, 19)
31 data shape : (11091, 19)
32 data shape : (14666, 19)
33 data shape : (12637, 19)
34 data shape : (5717, 19)
35 data shape : (14711, 19)
36 data shape : (14700, 19)
37 data shape : (6959, 19)
38 data shape : (10343, 19)
39 data shape : (13756, 19)
40 data shape : (11645, 19)
41 data shape : (4781, 19)
42 data shape : (12237, 19)
43 data shape : (9706, 19)
44 data shape : (5603, 19)
45 data shape : (9149, 19)
46 data shape : (11758, 19)
47 data shape : (10232, 19)
48 data shape : (4031, 19)
49 data shape : (11834, 19)
50 data shape : (8005, 19)
51 data shape : (3729, 19)
52 data shape : (6043, 19)
53 data shape : (9163, 19)
54 data shape : (9953, 19)
55 data shape : (4802, 19)
56 data shape : (11846, 19)
57 data shape : (11847, 19)
58 data shape : (5731, 19)
59 data shape : (7880, 19)
60 data shape : (11065, 19)
61 data shape : (8809, 19)
62 data shape : (3783, 19)
63 data shape : (9936, 19)
64 data shape : (10619, 19)
65 data shape : (4896, 19)
66 data shape : (7389, 19)
67 data shape : (9428, 19)
68 data shape : (7832, 19)
69 data shape : (3336, 19)
70 data shape : (9393, 19)
71 data shape : (9459, 19)
72 data shape : (4361, 19)
73 data shape : (6897, 19)
74 data shape : (9173, 19)
75 data shape : (7397, 19)
76 data shape : (3233, 19)
77 data shape : (8888, 19)
78 data shape : (8824, 19)
79 data shape : (4207, 19)
80 data shape : (6466, 19)
81 data shape : (9393, 19)
82 data shape : (7738, 19)
83 data shape : (3258, 19)
84 data shape : (8676, 19)
85 data shape : (8307, 19)
86 data shape : (3495, 19)
87 data shape : (5787, 19)
88 data shape : (8009, 19)
89 data shape : (7031, 19)
90 data shape : (2687, 19)
91 data shape : (7877, 19)
92 data shape : (8207, 19)
93 data shape : (3811, 19)
94 data shape : (6036, 19)
95 data shape : (7678, 19)
96 data shape : (6925, 19)
97 data shape : (2415, 19)
98 data shape : (6609, 19)
99 data shape : (6553, 19)
100 data shape : (3067, 19)
101 data shape : (4873, 19)
102 data shape : (7339, 19)
103 data shape : (7124, 19)
104 data shape : (3029, 19)
105 data shape : (8651, 19)
106 data shape : (11521, 19)
107 data shape : (6732, 19)
108 data shape : (9134, 19)
109 data shape : (11662, 19)
110 data shape : (10056, 19)
111 data shape : (4219, 19)
112 data shape : (11567, 19)
113 data shape : (10465, 19)
114 data shape : (4921, 19)
115 data shape : (7375, 19)
116 data shape : (10350, 19)
117 data shape : (9034, 19)
118 data shape : (3187, 19)
119 data shape : (9567, 19)
120 data shape : (9701, 19)
121 data shape : (4459, 19)
122 data shape : (6780, 19)
123 data shape : (10294, 19)
124 data shape : (8726, 19)
125 data shape : (2994, 19)
126 data shape : (8245, 19)
127 data shape : (2762, 19)
128 data shape : (2321, 19)
129 data shape : (6991, 19)
130 data shape : (8926, 19)
131 data shape : (5332, 19)
132 data shape : (2761, 19)
133 data shape : (8250, 19)
134 data shape : (7838, 19)
135 data shape : (3478, 19)
136 data shape : (5883, 19)
137 data shape : (7564, 19)
138 data shape : (6367, 19)
139 data shape : (2602, 19)
140 data shape : (7838, 19)
141 data shape : (8066, 19)
142 data shape : (3451, 19)
143 data shape : (5487, 19)
144 data shape : (7062, 19)
145 data shape : (5991, 19)
146 data shape : (2440, 19)
147 data shape : (7669, 19)
148 data shape : (7992, 19)
149 data shape : (3942, 19)
150 data shape : (6431, 19)
151 data shape : (8238, 19)
152 data shape : (7406, 19)
153 data shape : (3249, 19)
154 data shape : (9297, 19)
155 data shape : (9620, 19)
156 data shape : (4813, 19)
157 data shape : (6828, 19)
158 data shape : (9485, 19)
159 data shape : (8161, 19)
160 data shape : (3320, 19)
161 data shape : (9283, 19)
162 data shape : (9210, 19)
163 data shape : (4789, 19)
164 data shape : (7843, 19)
165 data shape : (10010, 19)
166 data shape : (9048, 19)
167 data shape : (4082, 19)
168 data shape : (10881, 19)
169 data shape : (9423, 19)
170 data shape : (3572, 19)
171 data shape : (7892, 19)
172 data shape : (10604, 19)
173 data shape : (6829, 19)
174 data shape : (3559, 19)
175 data shape : (10167, 19)
176 data shape : (8819, 19)
177 data shape : (4127, 19)
178 data shape : (6965, 19)
179 data shape : (9127, 19)
180 data shape : (7663, 19)
181 data shape : (2933, 19)
182 data shape : (8626, 19)
183 data shape : (8873, 19)
184 data shape : (4052, 19)
185 data shape : (6428, 19)
186 data shape : (9379, 19)
187 data shape : (8193, 19)
188 data shape : (3026, 19)
189 data shape : (8686, 19)
190 data shape : (9190, 19)
191 data shape : (3960, 19)
192 data shape : (6406, 19)
193 data shape : (8089, 19)
194 data shape : (2596, 19)
195 data shape : (2874, 19)
196 data shape : (8015, 19)
197 data shape : (7649, 19)
198 data shape : (3645, 19)
199 data shape : (5519, 19)
200 data shape : (7766, 19)
201 data shape : (7514, 19)
202 data shape : (1615, 19)
203 data shape : (5749, 19)
204 data shape : (7332, 19)
205 data shape : (3181, 19)
206 data shape : (5353, 19)
207 data shape : (6826, 19)
208 data shape : (5454, 19)
209 data shape : (2212, 19)
210 data shape : (6335, 19)
211 data shape : (6745, 19)
212 data shape : (2931, 19)
213 data shape : (4899, 19)
214 data shape : (6606, 19)
215 data shape : (5892, 19)
216 data shape : (2222, 19)
217 data shape : (6493, 19)
218 data shape : (6990, 19)
219 data shape : (3211, 19)
220 data shape : (4799, 19)
221 data shape : (7091, 19)
222 data shape : (5576, 19)
223 data shape : (2301, 19)
224 data shape : (6946, 19)
225 data shape : (6904, 19)
226 data shape : (3284, 19)
227 data shape : (5094, 19)
228 data shape : (6943, 19)
229 data shape : (5863, 19)
230 data shape : (2394, 19)
231 data shape : (6977, 19)
232 data shape : (7217, 19)
233 data shape : (3627, 19)
234 data shape : (5175, 19)
235 data shape : (5113, 19)
236 data shape : (5760, 19)
237 data shape : (2394, 19)
238 data shape : (6673, 19)
239 data shape : (6348, 19)
240 data shape : (3040, 19)
241 data shape : (4518, 19)
242 data shape : (4391, 19)
243 data shape : (5056, 19)
244 data shape : (2408, 19)
245 data shape : (6092, 19)
246 data shape : (6268, 19)
247 data shape : (2792, 19)
248 data shape : (4363, 19)
249 data shape : (6052, 19)
250 data shape : (4995, 19)
251 data shape : (1987, 19)
252 data shape : (5500, 19)
253 data shape : (5427, 19)
254 data shape : (2667, 19)
255 data shape : (4255, 19)
256 data shape : (5681, 19)
257 data shape : (4654, 19)
258 data shape : (1891, 19)
259 data shape : (5481, 19)
260 data shape : (5561, 19)
261 data shape : (2687, 19)
262 data shape : (4046, 19)
263 data shape : (5702, 19)
264 data shape : (5163, 19)
265 data shape : (1906, 19)
266 data shape : (5697, 19)
267 data shape : (6748, 19)
268 data shape : (3624, 19)
269 data shape : (5237, 19)
270 data shape : (7390, 19)
271 data shape : (6423, 19)
272 data shape : (2743, 19)
273 data shape : (7530, 19)
274 data shape : (7080, 19)
275 data shape : (3633, 19)
276 data shape : (4719, 19)
277 data shape : (6087, 19)
278 data shape : (5535, 19)
279 data shape : (2146, 19)
280 data shape : (5793, 19)
281 data shape : (5937, 19)
282 data shape : (2972, 19)
283 data shape : (4629, 19)
284 data shape : (6684, 19)
285 data shape : (5948, 19)
286 data shape : (1772, 19)
287 data shape : (4903, 19)
288 data shape : (5645, 19)
289 data shape : (2929, 19)
290 data shape : (4423, 19)
291 data shape : (5727, 19)
292 data shape : (5438, 19)
293 data shape : (2033, 19)
294 data shape : (5802, 19)
data shape : (1952789, 19)

In [108]:
len(news_data)

1952789

In [109]:
news_data.columns

Index(['뉴스 식별자', '일자', '언론사', '기고자', '제목', '통합 분류1', '통합 분류2', '통합 분류3',
       '사건/사고 분류1', '사건/사고 분류2', '사건/사고 분류3', '인물', '위치', '기관', '키워드',
       '특성추출(가중치순 상위 50개)', '본문', 'URL', '분석제외 여부'],
      dtype='object')

In [110]:
res_col = ["일자", "제목", "키워드", "특성추출(가중치순 상위 50개)", "본문"]
result_news_df = news_data[res_col].copy()
result_news_df.head(3)

,일자,제목,키워드,특성추출(가중치순 상위 50개),본문
0,20200121,"[사설] 중국발 '우한 폐렴' 공포, 우리나라도 안전지대 아니다","중국발,폐렴,공포,우리나라,안전지대,코로나바이러스,중국발,신종,일명,우한,武漢,폐렴...","중국,사망자,확진자,우리나라,중국인,춘제,희생자,한국,안전지대,중국발,방역당국,전염...","중국발 신종 코로나바이러스, 일명 '우한(武漢) 폐렴' 환자가 20일 국내에서 첫 ..."
1,20200121,춘절 기간 中관광객 13만명 오는데 ‘우한 폐렴’ 공항 방역 비상,"춘절,기간,관광객,13만,폐렴,비상,공항,방역,인천국제공항,전수조사,직행,노선,승객...","중국,우한시,인천공항,중국인,항공기,감염자,인천국제공항,관광객,이용객,불가능,방문자...",[인천국제공항 가보니]\n우한 직행 노선 승객 대상 전수조사 이동경로 소독 횟수 늘...
2,20200121,우한 폐렴 1명이 14명 감염 사스급 전염병 우려,"폐렴,감염,사스급,전염병,사람,전염,확인,6명,사망,확진,의료진,호주,필리핀,의심환...","중국,1명,사스,우한,광둥성,전염병,의료진,베이징,긴급회의,상하이,전문가,코로나바이...","사람 간 전염 확인 中 사망 6명, 의료진 15명 확진 \n호주ㆍ필리핀서도 의심환자..."

In [112]:
title_col = ["일자", "제목"]
news_title_df = news_data[title_col].copy()
news_title_df.head(3)

         일자                                    제목
0  20200121   [사설] 중국발 '우한 폐렴' 공포, 우리나라도 안전지대 아니다
1  20200121  춘절 기간 中관광객 13만명 오는데 ‘우한 폐렴’ 공항 방역 비상
2  20200121           우한 폐렴 1명이 14명 감염 사스급 전염병 우려

### 최종 데이터 프레임
* news_data : 전체 데이터
* result_news_df : 일자, 제목, 키워드, 특성추출, 본문 컬럼만 가지고 있는 데이터
* news_title_df : 일자, 제목 컬럼만 가지고 있는 데이터

In [111]:
news_data.to_csv("./CSV/news_all_data.csv")
result_news_df.to_csv("./CSV/news_data_five_columns.csv")

In [113]:
news_title_df.to_csv("./CSV/news_title.csv")