### 2021_10_25_2

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
for dirname, _, filenames in os.walk('../CSV/bike-sharing-demand/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

../CSV/bike-sharing-demand/sampleSubmission.csv
../CSV/bike-sharing-demand/test.csv
../CSV/bike-sharing-demand/train.csv

### 데이터 불러오기

In [5]:
train = pd.read_csv("../CSV/bike-sharing-demand/train.csv",parse_dates=['datetime'])
test = pd.read_csv("../CSV/bike-sharing-demand/test.csv",parse_dates=['datetime'])
sub = pd.read_csv("../CSV/bike-sharing-demand/sampleSubmission.csv")

print("train shape : {}".format(train.shape))
print("test shape : {}".format(test.shape))
print("sub shape : {}".format(sub.shape))

train shape : (10886, 12)
test shape : (6493, 9)
sub shape : (6493, 2)

### 입력, 출력 데이터 선택

In [6]:
f_names = ['temp', 'atemp']
X_train = train[f_names]    # 학습용 데이터의 변수 선택 
X_test = test[f_names]      # 테스트 데이터의 변수 선택 

label_name = 'count'        # 렌탈 대수 (종속변수)
y_train = train[label_name] # 렌탈 대수 변수 값 선택

### 모델 만들기 및 예측 순서
* 모델을 생성한다. -> model = 모델명()
* 모델을 학습한다. -> model.fit(입력값, 출력값)
* 모델을 이용하여 예측한다. -> model.predict(입력값)

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
model = LinearRegression()
model.fit(X_train, y_train)
model.predict(X_test)

print(model.coef_) # 모델(선형회귀의 계수)
print(model.intercept_) # 모델(선형회귀의 교차점)

[8.19865874 0.90720808]
4.2481326458035085

* 모델
* 렌탈 대수 = temp * 8.19 + atemp * 0.97 + 4.24

In [10]:
pred = model.predict(X_test)
sub["count"] = pred
sub.loc[sub["count"] < 0, "count"] = 0
sub.to_csv("../CSV/bike-sharing-demand/01_sub.csv", index = False)

In [11]:
sub.head(3)

              datetime       count
0  2011-01-20 00:00:00  101.956255
1  2011-01-20 01:00:00  104.015617
2  2011-01-20 02:00:00  104.015617