## 날씨 예측 모델
* 모든 train data 사용
* train shape : (368088, 11)

In [34]:
import pandas as pd
import numpy as np
import time

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import RandomForestRegressor   # 앙상블(의사결정트리 확장판)
from sklearn.ensemble import GradientBoostingRegressor

import xgboost as xgb
import lightgbm as lgb

In [35]:
train = pd.read_csv("../CSV/train_data.csv", parse_dates=["일시"])

In [36]:
train.head(3)

,연월일,시간,일시,year,month,day,hour,weekday,구분,구분_int,공급량,기온(°C)
0,2013-01-01,1,2013-01-01 00:00:00,2013,1,1,0,1,A,0,2497.129,-8.3
1,2013-01-01,2,2013-01-01 01:00:00,2013,1,1,1,1,A,0,2363.265,-8.5
2,2013-01-01,3,2013-01-01 02:00:00,2013,1,1,2,1,A,0,2258.505,-8.4

In [37]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368088 entries, 0 to 368087
Data columns (total 12 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   연월일      368088 non-null  object
 1   시간       368088 non-null  int64
 2   일시       368088 non-null  datetime64[ns]
 3   year     368088 non-null  int64
 4   month    368088 non-null  int64
 5   day      368088 non-null  int64
 6   hour     368088 non-null  int64
 7   weekday  368088 non-null  int64
 8   구분       368088 non-null  object
 9   구분_int   368088 non-null  int64
 10  공급량      368088 non-null  float64
 11  기온(°C)   368088 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(7), object(2)
memory usage: 33.7+ MB

In [38]:
train.shape

(368088, 12)

In [6]:
start_time = time.time()

# 2013 ~ 2018
X = train[["year", "month", "day", "hour", "weekday", "구분_int"]]
y = train["기온(°C)"]

model_list = ["LinearRegression", 
              "DecisionTreeRegressor", 
              "RandomForestRegressor", 
              "GradientBoostingRegressor", 
              "xgboost", 
              "lightgbm"]

models = [LinearRegression(), 
         DecisionTreeRegressor(), 
         RandomForestRegressor(n_jobs = -1, random_state = 37), 
         GradientBoostingRegressor(random_state = 37), 
         xgb.XGBRegressor(), 
         lgb.LGBMRegressor()]

test_size = []
train_score = []
test_score = []
MAE = []
MSE = []
RMSE = []
model_name = []
    
for idx, model in enumerate(models) :
    for i in range(1, 10, 1) :
        X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                           test_size = i / 10,
                                                           random_state = 77)
        print("model :", model_list[idx])
        model.fit(X_train, y_train)
        pred = model.predict(X_test)

        # 결정계수 확인
        print("학습용 : {}, 테스트용 : {}".format(10 - i, i))
        print("학습용 데이터 결정계수: {:.3f}".format(model.score(X_train, y_train)))
        print("테스트 데이터 결정계수: {:.3f}".format(model.score(X_test, y_test)))

        # 평가 지표
        print("MAE :", mean_absolute_error(y_test, pred))
        print("MSE :", mean_squared_error(y_test, pred))
        print("RMSE : ", np.sqrt(mean_squared_error(y_test, pred)))
        print()
        test_size.append(i)
        train_score.append(model.score(X_train, y_train))
        test_score.append(model.score(X_test, y_test))
        MAE.append(mean_absolute_error(y_test, pred))
        MSE.append(mean_squared_error(y_test, pred))
        RMSE.append(np.sqrt(mean_squared_error(y_test, pred)))
        model_name.append(model_list[idx])
        
print("실행 시간 : {:.3f}".format(time.time() - start_time))

model : LinearRegression
학습용 : 9, 테스트용 : 1
학습용 데이터 결정계수: 0.069
테스트 데이터 결정계수: 0.071
MAE : 9.305141034096566
MSE : 118.02569759877431
RMSE :  10.863963254667897

model : LinearRegression
학습용 : 8, 테스트용 : 2
학습용 데이터 결정계수: 0.069
테스트 데이터 결정계수: 0.067
MAE : 9.298272040674076
MSE : 117.93302128977273
RMSE :  10.859697108564895

model : LinearRegression
학습용 : 7, 테스트용 : 3
학습용 데이터 결정계수: 0.070
테스트 데이터 결정계수: 0.067
MAE : 9.301098803942113
MSE : 118.03339563465927
RMSE :  10.8643175411371

model : LinearRegression
학습용 : 6, 테스트용 : 4
학습용 데이터 결정계수: 0.070
테스트 데이터 결정계수: 0.068
MAE : 9.305788587478053
MSE : 118.17225532082799
RMSE :  10.870706293559218

model : LinearRegression
학습용 : 5, 테스트용 : 5
학습용 데이터 결정계수: 0.070
테스트 데이터 결정계수: 0.068
MAE : 9.305608903693207
MSE : 118.09094976323249
RMSE :  10.866965987028417

model : LinearRegression
학습용 : 4, 테스트용 : 6
학습용 데이터 결정계수: 0.069
테스트 데이터 결정계수: 0.069
MAE : 9.302286892214498
MSE : 118.00651536465494
RMSE :  10.863080381027057

model : LinearRegression
학습용 : 3, 테스트용 : 7
학습용 데이터 결정계수: 0.070
테스트 데이터 결정계수: 0.068
MAE : 9.302819768002463
MSE : 118.07686114830697
RMSE :  10.866317736395663

model : LinearRegression
학습용 : 2, 테스트용 : 8
학습용 데이터 결정계수: 0.069
테스트 데이터 결정계수: 0.069
MAE : 9.31145041866337
MSE : 118.29062209429664
RMSE :  10.876149230968498

model : LinearRegression
학습용 : 1, 테스트용 : 9
학습용 데이터 결정계수: 0.066
테스트 데이터 결정계수: 0.069
MAE : 9.323260392554744
MSE : 118.34319172667556
RMSE :  10.87856570172169

model : DecisionTreeRegressor
학습용 : 9, 테스트용 : 1
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 1.000
MAE : 0.0003341574071562466
MSE : 0.00024097367491646049
RMSE :  0.015523326799254743

model : DecisionTreeRegressor
학습용 : 8, 테스트용 : 2
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 1.000
MAE : 0.0008503355157708771
MSE : 0.0021176886087641606
RMSE :  0.046018350782749275

model : DecisionTreeRegressor
학습용 : 7, 테스트용 : 3
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 1.000
MAE : 0.0018410352540594692
MSE : 0.0017101795756472617
RMSE :  0.04135431749705539

model : DecisionTreeRegressor
학습용 : 6, 테스트용 : 4
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 1.000
MAE : 0.009380178760629389
MSE : 0.02064379635415252
RMSE :  0.14367949176605727

model : DecisionTreeRegressor
학습용 : 5, 테스트용 : 5
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 1.000
MAE : 0.027277172849970825
MSE : 0.04840038251722416
RMSE :  0.22000086935560995

model : DecisionTreeRegressor
학습용 : 4, 테스트용 : 6
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 0.999
MAE : 0.07121026202949486
MSE : 0.1328740836665112
RMSE :  0.3645189757289889

model : DecisionTreeRegressor
학습용 : 3, 테스트용 : 7
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 0.997
MAE : 0.1661657520317315
MSE : 0.3406676188184521
RMSE :  0.5836673871465256

model : DecisionTreeRegressor
학습용 : 2, 테스트용 : 8
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 0.993
MAE : 0.3556166821181033
MSE : 0.8277123383966505
RMSE :  0.909786974184974

model : DecisionTreeRegressor
학습용 : 1, 테스트용 : 9
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 0.983
MAE : 0.7763610842791596
MSE : 2.1644367604443366
RMSE :  1.4712024879139978

model : RandomForestRegressor
학습용 : 9, 테스트용 : 1
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 1.000
MAE : 0.01188252872939189
MSE : 0.0007724758075470674
RMSE :  0.027793449004164045

model : RandomForestRegressor
학습용 : 8, 테스트용 : 2
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 1.000
MAE : 0.021362411366788143
MSE : 0.002282086011573263
RMSE :  0.047771183903827036

model : RandomForestRegressor
학습용 : 7, 테스트용 : 3
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 1.000
MAE : 0.03743758319976244
MSE : 0.0066894845463518985
RMSE :  0.08178926913936753

model : RandomForestRegressor
학습용 : 6, 테스트용 : 4
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 1.000
MAE : 0.0636711741693616
MSE : 0.021173001120649855
RMSE :  0.1455094537157289

model : RandomForestRegressor
학습용 : 5, 테스트용 : 5
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 1.000
MAE : 0.10233219230184118
MSE : 0.046205737171545906
RMSE :  0.21495519805658553

model : RandomForestRegressor
학습용 : 4, 테스트용 : 6
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 0.999
MAE : 0.15992354643133677
MSE : 0.09717605576107186
RMSE :  0.3117307424061218

model : RandomForestRegressor
학습용 : 3, 테스트용 : 7
학습용 데이터 결정계수: 1.000
테스트 데이터 결정계수: 0.998
MAE : 0.24909611040820914
MSE : 0.20356632392824703
RMSE :  0.45118324872300725

model : RandomForestRegressor
학습용 : 2, 테스트용 : 8
학습용 데이터 결정계수: 0.999
테스트 데이터 결정계수: 0.996
MAE : 0.40621087645302917
MSE : 0.45030440882463807
RMSE :  0.6710472478332938

model : RandomForestRegressor
학습용 : 1, 테스트용 : 9
학습용 데이터 결정계수: 0.999
테스트 데이터 결정계수: 0.990
MAE : 0.7543381701279885
MSE : 1.2508370294826126
RMSE :  1.118408257070115

model : GradientBoostingRegressor
학습용 : 9, 테스트용 : 1
학습용 데이터 결정계수: 0.912
테스트 데이터 결정계수: 0.912
MAE : 2.599685432218979
MSE : 11.198883082929038
RMSE :  3.3464732305711093

model : GradientBoostingRegressor
학습용 : 8, 테스트용 : 2
학습용 데이터 결정계수: 0.913
테스트 데이터 결정계수: 0.913
MAE : 2.5884192071623477
MSE : 11.062661369499482
RMSE :  3.326057932372718

model : GradientBoostingRegressor
학습용 : 7, 테스트용 : 3
학습용 데이터 결정계수: 0.912
테스트 데이터 결정계수: 0.912
MAE : 2.5949507523490407
MSE : 11.130371735189014
RMSE :  3.3362211759997287

model : GradientBoostingRegressor
학습용 : 6, 테스트용 : 4
학습용 데이터 결정계수: 0.913
테스트 데이터 결정계수: 0.913
MAE : 2.5861249236036086
MSE : 11.025240840390545
RMSE :  3.3204278098447713

model : GradientBoostingRegressor
학습용 : 5, 테스트용 : 5
학습용 데이터 결정계수: 0.913
테스트 데이터 결정계수: 0.912
MAE : 2.5883514295396957
MSE : 11.107648818504792
RMSE :  3.3328139489783695

model : GradientBoostingRegressor
학습용 : 4, 테스트용 : 6
학습용 데이터 결정계수: 0.913
테스트 데이터 결정계수: 0.913
MAE : 2.587804584424773
MSE : 11.059363712752802
RMSE :  3.3255621649208127

model : GradientBoostingRegressor
학습용 : 3, 테스트용 : 7
학습용 데이터 결정계수: 0.913
테스트 데이터 결정계수: 0.913
MAE : 2.5821270341943166
MSE : 11.005688144081269
RMSE :  3.3174821995123454

model : GradientBoostingRegressor
학습용 : 2, 테스트용 : 8
학습용 데이터 결정계수: 0.912
테스트 데이터 결정계수: 0.912
MAE : 2.597324003244679
MSE : 11.132754891517719
RMSE :  3.336578320902676

model : GradientBoostingRegressor
학습용 : 1, 테스트용 : 9
학습용 데이터 결정계수: 0.911
테스트 데이터 결정계수: 0.912
MAE : 2.5973704535615307
MSE : 11.140064861635647
RMSE :  3.3376735702635223

model : xgboost
학습용 : 9, 테스트용 : 1
학습용 데이터 결정계수: 0.976
테스트 데이터 결정계수: 0.975
MAE : 1.351377591427741
MSE : 3.1419829803672537
RMSE :  1.7725639566366156

model : xgboost
학습용 : 8, 테스트용 : 2
학습용 데이터 결정계수: 0.976
테스트 데이터 결정계수: 0.975
MAE : 1.353038062665936
MSE : 3.123557098020092
RMSE :  1.767358791536142

model : xgboost
학습용 : 7, 테스트용 : 3
학습용 데이터 결정계수: 0.976
테스트 데이터 결정계수: 0.975
MAE : 1.356755457166415
MSE : 3.1361484106814332
RMSE :  1.7709173923933983

model : xgboost
학습용 : 6, 테스트용 : 4
학습용 데이터 결정계수: 0.976
테스트 데이터 결정계수: 0.975
MAE : 1.353990762890785
MSE : 3.1481583177074133
RMSE :  1.7743050238635445

model : xgboost
학습용 : 5, 테스트용 : 5
학습용 데이터 결정계수: 0.975
테스트 데이터 결정계수: 0.974
MAE : 1.3769997261062998
MSE : 3.2380006302491116
RMSE :  1.799444533807339

model : xgboost
학습용 : 4, 테스트용 : 6
학습용 데이터 결정계수: 0.975
테스트 데이터 결정계수: 0.974
MAE : 1.3817965930669547
MSE : 3.2431582119511404
RMSE :  1.800877067417746

model : xgboost
학습용 : 3, 테스트용 : 7
학습용 데이터 결정계수: 0.975
테스트 데이터 결정계수: 0.974
MAE : 1.3991299743392118
MSE : 3.3215391095874636
RMSE :  1.8225090149536884

model : xgboost
학습용 : 2, 테스트용 : 8
학습용 데이터 결정계수: 0.975
테스트 데이터 결정계수: 0.973
MAE : 1.4109020369567953
MSE : 3.378380245496511
RMSE :  1.8380370631454936

model : xgboost
학습용 : 1, 테스트용 : 9
학습용 데이터 결정계수: 0.975
테스트 데이터 결정계수: 0.971
MAE : 1.4779674909004774
MSE : 3.717398528741974
RMSE :  1.9280556342445032

model : lightgbm
학습용 : 9, 테스트용 : 1
학습용 데이터 결정계수: 0.949
테스트 데이터 결정계수: 0.949
MAE : 1.9938334311597992
MSE : 6.489652652842553
RMSE :  2.547479666816313

model : lightgbm
학습용 : 8, 테스트용 : 2
학습용 데이터 결정계수: 0.950
테스트 데이터 결정계수: 0.949
MAE : 1.978179481307374
MSE : 6.393760502279351
RMSE :  2.5285886384066805

model : lightgbm
학습용 : 7, 테스트용 : 3
학습용 데이터 결정계수: 0.950
테스트 데이터 결정계수: 0.949
MAE : 1.9846711394390977
MSE : 6.422328428988694
RMSE :  2.5342313290204377

model : lightgbm
학습용 : 6, 테스트용 : 4
학습용 데이터 결정계수: 0.950
테스트 데이터 결정계수: 0.949
MAE : 1.9870610827677706
MSE : 6.430427178622
RMSE :  2.535828696624044

model : lightgbm
학습용 : 5, 테스트용 : 5
학습용 데이터 결정계수: 0.949
테스트 데이터 결정계수: 0.948
MAE : 1.994341656064701
MSE : 6.528283545997454
RMSE :  2.555050595584646

model : lightgbm
학습용 : 4, 테스트용 : 6
학습용 데이터 결정계수: 0.950
테스트 데이터 결정계수: 0.949
MAE : 1.9791905647898107
MSE : 6.406583203484899
RMSE :  2.5311229135474433

model : lightgbm
학습용 : 3, 테스트용 : 7
학습용 데이터 결정계수: 0.950
테스트 데이터 결정계수: 0.949
MAE : 1.9885516714927514
MSE : 6.443196916383105
RMSE :  2.538345310705993

model : lightgbm
학습용 : 2, 테스트용 : 8
학습용 데이터 결정계수: 0.949
테스트 데이터 결정계수: 0.948
MAE : 2.0042918233446994
MSE : 6.591448558278562
RMSE :  2.5673816541913985

model : lightgbm
학습용 : 1, 테스트용 : 9
학습용 데이터 결정계수: 0.949
테스트 데이터 결정계수: 0.948
MAE : 2.0192983860100675
MSE : 6.664531024988275
RMSE :  2.5815752991125933

실행 시간 : 324.666

In [10]:
kfold = KFold(n_splits = 10, shuffle = True, random_state = 27)

for model in models :
    cross_score = cross_val_score(model, X, y, cv = kfold)
    print("model :", model)
    print("교차 검증별 정확도:", cross_score)
    print("평균 검증 정확도 :", np.mean(cross_score))
    print()

model : LinearRegression()
교차 검증별 정확도: [0.06650532 0.07230436 0.06595245 0.07067328 0.07146943 0.07040688
 0.07281801 0.06612531 0.06451959 0.06795426]
평균 검증 정확도 : 0.06887288877536538

model : DecisionTreeRegressor()
교차 검증별 정확도: [0.99999958 0.99999632 0.99999873 0.9999993  0.99999949 0.99999948
 0.99999993 0.99999982 0.99999976 0.99999766]
평균 검증 정확도 : 0.9999990067269916

model : RandomForestRegressor(n_jobs=-1, random_state=37)
교차 검증별 정확도: [0.99999355 0.9999936  0.99999158 0.99999367 0.99999388 0.99999403
 0.99999418 0.99999351 0.99999332 0.99999429]
평균 검증 정확도 : 0.9999935620886344

model : GradientBoostingRegressor(random_state=37)
교차 검증별 정확도: [0.91375695 0.91126189 0.91275957 0.91243619 0.91289176 0.91333275
 0.91269854 0.91268985 0.91288828 0.91195548]
평균 검증 정확도 : 0.9126671242223254

model : XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=12,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)
교차 검증별 정확도: [0.97504191 0.97507753 0.97551844 0.97563659 0.97560335 0.97541806
 0.97500152 0.97570248 0.97513408 0.97505412]
평균 검증 정확도 : 0.9753188090443328

model : LGBMRegressor()
교차 검증별 정확도: [0.95042225 0.94819905 0.94956492 0.9492533  0.95052878 0.94979941
 0.94925927 0.94956263 0.94958847 0.94918883]
평균 검증 정확도 : 0.9495366909059054

In [11]:
print("test_size length : ", len(test_size))
print("train_score length :", len(train_score))
print("test_score length :", len(test_score))
print("MAE length :", len(MAE))
print("MSE length :", len(MSE))
print("RMSE length :", len(RMSE))
print("model_name length :", len(model_name))

test_size length :  54
train_score length : 54
test_score length : 54
MAE length : 54
MSE length : 54
RMSE length : 54
model_name length : 54

In [12]:
data_dict = {"model" : model_name, "test_size" : test_size, "train_score" : train_score, 
            "test_score" : test_score, "MAE" : MAE, "MSE" : MSE, "RMSE" : RMSE}
df = pd.DataFrame(data_dict)

df["train_score"] = df["train_score"] * 100
df["test_score"] = df["test_score"] * 100
df

,model,test_size,train_score,test_score,MAE,MSE,RMSE
0,LinearRegression,1,6.868515,7.110992,9.305141,118.025698,10.863963
1,LinearRegression,2,6.927650,6.745599,9.298272,117.933021,10.859697
2,LinearRegression,3,6.969441,6.708682,9.301099,118.033396,10.864318
3,LinearRegression,4,6.977111,6.759182,9.305789,118.172255,10.870706
4,LinearRegression,5,6.974297,6.805940,9.305609,118.090950,10.866966
5,LinearRegression,6,6.938073,6.856607,9.302287,118.006515,10.863080
6,LinearRegression,7,6.986716,6.845119,9.302820,118.076861,10.866318
7,LinearRegression,8,6.912042,6.883818,9.311450,118.290622,10.876149
8,LinearRegression,9,6.607928,6.907995,9.323260,118.343192,10.878566
9,DecisionTreeRegressor,1,100.000000,99.999810,0.000334,0.000241,0.015523
10,DecisionTreeRegressor,2,100.000000,99.998325,0.000850,0.002118,0.046018
11,DecisionTreeRegressor,3,100.000000,99.998648,0.001841,0.001710,0.041354
12,DecisionTreeRegressor,4,100.000000,99.983712,0.009380,0.020644,0.143679
13,DecisionTreeRegressor,5,100.000000,99.961804,0.027277,0.048400,0.220001
14,DecisionTreeRegressor,6,100.000000,99.895122,0.071210,0.132874,0.364519
15,DecisionTreeRegressor,7,100.000000,99.731236,0.166166,0.340668,0.583667
16,DecisionTreeRegressor,8,100.000000,99.348440,0.355617,0.827712,0.909787
17,DecisionTreeRegressor,9,100.000000,98.297395,0.776361,2.164437,1.471202
18,RandomForestRegressor,1,99.999866,99.999392,0.011883,0.000772,0.027793
19,RandomForestRegressor,2,99.999649,99.998195,0.021362,0.002282,0.047771
20,RandomForestRegressor,3,99.999032,99.994713,0.037438,0.006689,0.081789
21,RandomForestRegressor,4,99.997594,99.983294,0.063671,0.021173,0.145509
22,RandomForestRegressor,5,99.994460,99.963536,0.102332,0.046206,0.214955
23,RandomForestRegressor,6,99.988570,99.923298,0.159924,0.097176,0.311731
24,RandomForestRegressor,7,99.977267,99.839400,0.249096,0.203566,0.451183
25,RandomForestRegressor,8,99.949129,99.645529,0.406211,0.450304,0.671047
26,RandomForestRegressor,9,99.854095,99.016057,0.754338,1.250837,1.118408
27,GradientBoostingRegressor,1,91.220385,91.186215,2.599685,11.198883,3.346473
28,GradientBoostingRegressor,2,91.309392,91.252307,2.588419,11.062661,3.326058
29,GradientBoostingRegressor,3,91.233177,91.202769,2.594951,11.130372,3.336221
30,GradientBoostingRegressor,4,91.328471,91.300814,2.586125,11.025241,3.320428
31,GradientBoostingRegressor,5,91.272789,91.234156,2.588351,11.107649,3.332814
32,GradientBoostingRegressor,6,91.308001,91.270764,2.587805,11.059364,3.325562
33,GradientBoostingRegressor,7,91.340927,91.317236,2.582127,11.005688,3.317482
34,GradientBoostingRegressor,8,91.238042,91.236502,2.597324,11.132755,3.336578
35,GradientBoostingRegressor,9,91.124378,91.236919,2.597370,11.140065,3.337674
36,xgboost,1,97.561543,97.527185,1.351378,3.141983,1.772564
37,xgboost,2,97.598547,97.530077,1.353038,3.123557,1.767359
38,xgboost,3,97.578103,97.521249,1.356755,3.136148,1.770917
39,xgboost,4,97.591884,97.516026,1.353991,3.148158,1.774305
40,xgboost,5,97.528102,97.444661,1.377000,3.238001,1.799445
41,xgboost,6,97.546566,97.440152,1.381797,3.243158,1.800877
42,xgboost,7,97.534466,97.379524,1.399130,3.321539,1.822509
43,xgboost,8,97.548352,97.340602,1.410902,3.378380,1.838037
44,xgboost,9,97.524669,97.075792,1.477967,3.717399,1.928056
45,lightgbm,1,94.940944,94.892490,1.993833,6.489653,2.547480
46,lightgbm,2,95.023441,94.944195,1.978179,6.393761,2.528589
47,lightgbm,3,94.979562,94.923916,1.984671,6.422328,2.534231
48,lightgbm,4,94.963122,94.926235,1.987061,6.430427,2.535829
49,lightgbm,5,94.892357,94.848062,1.994342,6.528284,2.555051
50,lightgbm,6,94.995997,94.943238,1.979191,6.406583,2.531123
51,lightgbm,7,94.969346,94.916741,1.988552,6.443197,2.538345
52,lightgbm,8,94.883576,94.811334,2.004292,6.591449,2.567382
53,lightgbm,9,94.873116,94.757497,2.019298,6.664531,2.581575

In [13]:
df.describe()

       test_size  train_score  test_score        MAE         MSE       RMSE
count  54.000000    54.000000   54.000000  54.000000   54.000000  54.000000
mean    5.000000    81.774642   81.651454   2.605269   23.264288   3.219420
std     2.606233    33.934106   33.899570   3.156162   42.980952   3.625329
min     1.000000     6.607928    6.708682   0.000334    0.000241   0.015523
25%     3.000000    91.281592   91.240766   0.275726    0.368077   0.605512
50%     5.000000    96.274055   96.009994   1.728073    5.055580   2.228322
75%     7.000000    99.992987   99.709809   2.588402   11.096402   3.331125
max     9.000000   100.000000   99.999810   9.323260  118.343192  10.878566

In [14]:
df.groupby("model").min()

,test_size,train_score,test_score,MAE,MSE,RMSE
model,,,,,,
DecisionTreeRegressor,1,100.000000,98.297395,0.000334,0.000241,0.015523
GradientBoostingRegressor,1,91.124378,91.186215,2.582127,11.005688,3.317482
LinearRegression,1,6.607928,6.708682,9.298272,117.933021,10.859697
RandomForestRegressor,1,99.854095,99.016057,0.011883,0.000772,0.027793
lightgbm,1,94.873116,94.757497,1.978179,6.393761,2.528589
xgboost,1,97.524669,97.075792,1.351378,3.123557,1.767359

### 최종 모델 선정

In [49]:
# 2013 ~ 2018

X = train[["year", "month", "day", "hour", "weekday", "구분_int"]]
y = train["기온(°C)"]

i = 2

kfold = KFold(n_splits = 10, shuffle = True, random_state = 27)

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = i / 10,
                                                    random_state = 77)
model = xgb.XGBRegressor()
model.fit(X_train, y_train)
pred = model.predict(X_test)

# 결정계수 확인
print("학습용 : {}, 테스트용 : {}".format(10 - i, i))
print("학습용 데이터 결정계수: {:.3f}".format(model.score(X_train, y_train)))
print("테스트 데이터 결정계수: {:.3f}".format(model.score(X_test, y_test)))

# 평가 지표
print("MAE :", mean_absolute_error(y_test, pred))
print("MSE :", mean_squared_error(y_test, pred))
print("RMSE : ", np.sqrt(mean_squared_error(y_test, pred)))

cross_score_train = cross_val_score(model, X_train, y_train, cv = kfold)
cross_score_test = cross_val_score(model, X_test, y_test, cv = kfold)
# print("교차 검증별 정확도:", cross_score)
print("train 평균 검증 정확도 :", np.mean(cross_score_train))
print("test 평균 검증 정확도 :", np.mean(cross_score_test))

학습용 : 8, 테스트용 : 2
학습용 데이터 결정계수: 0.976
테스트 데이터 결정계수: 0.975
MAE : 1.353038062665936
MSE : 3.123557098020092
RMSE :  1.767358791536142
train 평균 검증 정확도 : 0.9752203142491009
test 평균 검증 정확도 : 0.9733143141985583

### 테스트 데이터 불러오기

In [40]:
test = pd.read_csv("../CSV/new_test.csv")

In [41]:
test.head(3)

,일자|시간|구분,일자,시간,구분,구분_int,일시,year,month,day,hour,weekday
0,2019-01-01 01 A,2019-01-01,1,A,0,2019-01-01 00:00:00,2019,1,1,0,1
1,2019-01-01 02 A,2019-01-01,2,A,0,2019-01-01 01:00:00,2019,1,1,1,1
2,2019-01-01 03 A,2019-01-01,3,A,0,2019-01-01 02:00:00,2019,1,1,2,1

In [42]:
test.tail(3)

,일자|시간|구분,일자,시간,구분,구분_int,일시,year,month,day,hour,weekday
15117,2019-03-31 22 H,2019-03-31,22,H,6,2019-03-31 21:00:00,2019,3,31,21,6
15118,2019-03-31 23 H,2019-03-31,23,H,6,2019-03-31 22:00:00,2019,3,31,22,6
15119,2019-03-31 24 H,2019-03-31,24,H,6,2019-03-31 23:00:00,2019,3,31,23,6

In [43]:
test_x = test[["year", "month", "day", "hour", "weekday", "구분_int"]]

### 19년도 기온 예측

In [44]:
pred = model.predict(test_x)
test["기온(°C)"] = np.round(pred, 1) # 예측한 기온을 소수 첫째자리까지 표시

In [46]:
test.head(50)

,일자|시간|구분,일자,시간,구분,구분_int,일시,year,month,day,hour,weekday,기온(°C)
0,2019-01-01 01 A,2019-01-01,1,A,0,2019-01-01 00:00:00,2019,1,1,0,1,-6.6
1,2019-01-01 02 A,2019-01-01,2,A,0,2019-01-01 01:00:00,2019,1,1,1,1,-6.7
2,2019-01-01 03 A,2019-01-01,3,A,0,2019-01-01 02:00:00,2019,1,1,2,1,-7.1
3,2019-01-01 04 A,2019-01-01,4,A,0,2019-01-01 03:00:00,2019,1,1,3,1,-6.7
4,2019-01-01 05 A,2019-01-01,5,A,0,2019-01-01 04:00:00,2019,1,1,4,1,-6.4
5,2019-01-01 06 A,2019-01-01,6,A,0,2019-01-01 05:00:00,2019,1,1,5,1,-6.2
6,2019-01-01 07 A,2019-01-01,7,A,0,2019-01-01 06:00:00,2019,1,1,6,1,-6.0
7,2019-01-01 08 A,2019-01-01,8,A,0,2019-01-01 07:00:00,2019,1,1,7,1,-6.3
8,2019-01-01 09 A,2019-01-01,9,A,0,2019-01-01 08:00:00,2019,1,1,8,1,-6.3
9,2019-01-01 10 A,2019-01-01,10,A,0,2019-01-01 09:00:00,2019,1,1,9,1,-5.9
10,2019-01-01 11 A,2019-01-01,11,A,0,2019-01-01 10:00:00,2019,1,1,10,1,-4.6
11,2019-01-01 12 A,2019-01-01,12,A,0,2019-01-01 11:00:00,2019,1,1,11,1,-2.7
12,2019-01-01 13 A,2019-01-01,13,A,0,2019-01-01 12:00:00,2019,1,1,12,1,-1.5
13,2019-01-01 14 A,2019-01-01,14,A,0,2019-01-01 13:00:00,2019,1,1,13,1,-0.2
14,2019-01-01 15 A,2019-01-01,15,A,0,2019-01-01 14:00:00,2019,1,1,14,1,0.5
15,2019-01-01 16 A,2019-01-01,16,A,0,2019-01-01 15:00:00,2019,1,1,15,1,0.3
16,2019-01-01 17 A,2019-01-01,17,A,0,2019-01-01 16:00:00,2019,1,1,16,1,0.4
17,2019-01-01 18 A,2019-01-01,18,A,0,2019-01-01 17:00:00,2019,1,1,17,1,-0.6
18,2019-01-01 19 A,2019-01-01,19,A,0,2019-01-01 18:00:00,2019,1,1,18,1,-1.2
19,2019-01-01 20 A,2019-01-01,20,A,0,2019-01-01 19:00:00,2019,1,1,19,1,-1.9
20,2019-01-01 21 A,2019-01-01,21,A,0,2019-01-01 20:00:00,2019,1,1,20,1,-2.9
21,2019-01-01 22 A,2019-01-01,22,A,0,2019-01-01 21:00:00,2019,1,1,21,1,-3.4
22,2019-01-01 23 A,2019-01-01,23,A,0,2019-01-01 22:00:00,2019,1,1,22,1,-3.7
23,2019-01-01 24 A,2019-01-01,24,A,0,2019-01-01 23:00:00,2019,1,1,23,1,-3.9
24,2019-01-02 01 A,2019-01-02,1,A,0,2019-01-02 00:00:00,2019,1,2,0,2,-4.0
25,2019-01-02 02 A,2019-01-02,2,A,0,2019-01-02 01:00:00,2019,1,2,1,2,-4.3
26,2019-01-02 03 A,2019-01-02,3,A,0,2019-01-02 02:00:00,2019,1,2,2,2,-4.4
27,2019-01-02 04 A,2019-01-02,4,A,0,2019-01-02 03:00:00,2019,1,2,3,2,-4.0
28,2019-01-02 05 A,2019-01-02,5,A,0,2019-01-02 04:00:00,2019,1,2,4,2,-3.7
29,2019-01-02 06 A,2019-01-02,6,A,0,2019-01-02 05:00:00,2019,1,2,5,2,-3.9
30,2019-01-02 07 A,2019-01-02,7,A,0,2019-01-02 06:00:00,2019,1,2,6,2,-4.3
31,2019-01-02 08 A,2019-01-02,8,A,0,2019-01-02 07:00:00,2019,1,2,7,2,-4.4
32,2019-01-02 09 A,2019-01-02,9,A,0,2019-01-02 08:00:00,2019,1,2,8,2,-4.1
33,2019-01-02 10 A,2019-01-02,10,A,0,2019-01-02 09:00:00,2019,1,2,9,2,-4.5
34,2019-01-02 11 A,2019-01-02,11,A,0,2019-01-02 10:00:00,2019,1,2,10,2,-3.6
35,2019-01-02 12 A,2019-01-02,12,A,0,2019-01-02 11:00:00,2019,1,2,11,2,-1.6
36,2019-01-02 13 A,2019-01-02,13,A,0,2019-01-02 12:00:00,2019,1,2,12,2,-0.6
37,2019-01-02 14 A,2019-01-02,14,A,0,2019-01-02 13:00:00,2019,1,2,13,2,0.6
38,2019-01-02 15 A,2019-01-02,15,A,0,2019-01-02 14:00:00,2019,1,2,14,2,1.4
39,2019-01-02 16 A,2019-01-02,16,A,0,2019-01-02 15:00:00,2019,1,2,15,2,1.4
40,2019-01-02 17 A,2019-01-02,17,A,0,2019-01-02 16:00:00,2019,1,2,16,2,0.2
41,2019-01-02 18 A,2019-01-02,18,A,0,2019-01-02 17:00:00,2019,1,2,17,2,-0.6
42,2019-01-02 19 A,2019-01-02,19,A,0,2019-01-02 18:00:00,2019,1,2,18,2,-2.0
43,2019-01-02 20 A,2019-01-02,20,A,0,2019-01-02 19:00:00,2019,1,2,19,2,-3.4
44,2019-01-02 21 A,2019-01-02,21,A,0,2019-01-02 20:00:00,2019,1,2,20,2,-4.3
45,2019-01-02 22 A,2019-01-02,22,A,0,2019-01-02 21:00:00,2019,1,2,21,2,-4.1
46,2019-01-02 23 A,2019-01-02,23,A,0,2019-01-02 22:00:00,2019,1,2,22,2,-4.4
47,2019-01-02 24 A,2019-01-02,24,A,0,2019-01-02 23:00:00,2019,1,2,23,2,-5.0
48,2019-01-03 01 A,2019-01-03,1,A,0,2019-01-03 00:00:00,2019,1,3,0,3,-6.5
49,2019-01-03 02 A,2019-01-03,2,A,0,2019-01-03 01:00:00,2019,1,3,1,3,-7.1

In [47]:
train.head(50)

,연월일,시간,일시,year,month,day,hour,weekday,구분,구분_int,공급량,기온(°C)
0,2013-01-01,1,2013-01-01 00:00:00,2013,1,1,0,1,A,0,2497.129,-8.3
1,2013-01-01,2,2013-01-01 01:00:00,2013,1,1,1,1,A,0,2363.265,-8.5
2,2013-01-01,3,2013-01-01 02:00:00,2013,1,1,2,1,A,0,2258.505,-8.4
3,2013-01-01,4,2013-01-01 03:00:00,2013,1,1,3,1,A,0,2243.969,-8.1
4,2013-01-01,5,2013-01-01 04:00:00,2013,1,1,4,1,A,0,2344.105,-8.2
5,2013-01-01,6,2013-01-01 05:00:00,2013,1,1,5,1,A,0,2390.961,-8.2
6,2013-01-01,7,2013-01-01 06:00:00,2013,1,1,6,1,A,0,2378.457,-8.6
7,2013-01-01,8,2013-01-01 07:00:00,2013,1,1,7,1,A,0,2518.921,-8.3
8,2013-01-01,9,2013-01-01 08:00:00,2013,1,1,8,1,A,0,2706.481,-7.9
9,2013-01-01,10,2013-01-01 09:00:00,2013,1,1,9,1,A,0,2832.057,-7.0
10,2013-01-01,11,2013-01-01 10:00:00,2013,1,1,10,1,A,0,2895.185,-5.5
11,2013-01-01,12,2013-01-01 11:00:00,2013,1,1,11,1,A,0,2689.361,-4.2
12,2013-01-01,13,2013-01-01 12:00:00,2013,1,1,12,1,A,0,2425.537,-4.2
13,2013-01-01,14,2013-01-01 13:00:00,2013,1,1,13,1,A,0,2254.289,-1.9
14,2013-01-01,15,2013-01-01 14:00:00,2013,1,1,14,1,A,0,2153.361,-0.6
15,2013-01-01,16,2013-01-01 15:00:00,2013,1,1,15,1,A,0,2126.969,-0.5
16,2013-01-01,17,2013-01-01 16:00:00,2013,1,1,16,1,A,0,2210.481,-0.6
17,2013-01-01,18,2013-01-01 17:00:00,2013,1,1,17,1,A,0,2546.873,-1.1
18,2013-01-01,19,2013-01-01 18:00:00,2013,1,1,18,1,A,0,2886.097,-1.7
19,2013-01-01,20,2013-01-01 19:00:00,2013,1,1,19,1,A,0,2863.009,-1.6
20,2013-01-01,21,2013-01-01 20:00:00,2013,1,1,20,1,A,0,2748.129,-2.5
21,2013-01-01,22,2013-01-01 21:00:00,2013,1,1,21,1,A,0,2711.441,-2.8
22,2013-01-01,23,2013-01-01 22:00:00,2013,1,1,22,1,A,0,2586.297,-2.4
23,2013-01-01,24,2013-01-01 23:00:00,2013,1,1,23,1,A,0,2494.457,-2.7
24,2013-01-02,1,2013-01-02 00:00:00,2013,1,2,0,2,A,0,2345.481,-4.8
25,2013-01-02,2,2013-01-02 01:00:00,2013,1,2,1,2,A,0,2185.065,-6.5
26,2013-01-02,3,2013-01-02 02:00:00,2013,1,2,2,2,A,0,2122.561,-7.8
27,2013-01-02,4,2013-01-02 03:00:00,2013,1,2,3,2,A,0,2238.889,-8.8
28,2013-01-02,5,2013-01-02 04:00:00,2013,1,2,4,2,A,0,2475.521,-10.1
29,2013-01-02,6,2013-01-02 05:00:00,2013,1,2,5,2,A,0,2754.465,-10.8
30,2013-01-02,7,2013-01-02 06:00:00,2013,1,2,6,2,A,0,3048.713,-11.9
31,2013-01-02,8,2013-01-02 07:00:00,2013,1,2,7,2,A,0,3544.009,-12.7
32,2013-01-02,9,2013-01-02 08:00:00,2013,1,2,8,2,A,0,3694.945,-13.0
33,2013-01-02,10,2013-01-02 09:00:00,2013,1,2,9,2,A,0,3613.873,-12.7
34,2013-01-02,11,2013-01-02 10:00:00,2013,1,2,10,2,A,0,3541.833,-11.8
35,2013-01-02,12,2013-01-02 11:00:00,2013,1,2,11,2,A,0,3400.825,-11.8
36,2013-01-02,13,2013-01-02 12:00:00,2013,1,2,12,2,A,0,3199.089,-10.6
37,2013-01-02,14,2013-01-02 13:00:00,2013,1,2,13,2,A,0,3105.817,-10.7
38,2013-01-02,15,2013-01-02 14:00:00,2013,1,2,14,2,A,0,2939.313,-10.1
39,2013-01-02,16,2013-01-02 15:00:00,2013,1,2,15,2,A,0,2895.625,-9.5
40,2013-01-02,17,2013-01-02 16:00:00,2013,1,2,16,2,A,0,3011.041,-9.8
41,2013-01-02,18,2013-01-02 17:00:00,2013,1,2,17,2,A,0,3319.841,-10.7
42,2013-01-02,19,2013-01-02 18:00:00,2013,1,2,18,2,A,0,3570.289,-11.5
43,2013-01-02,20,2013-01-02 19:00:00,2013,1,2,19,2,A,0,3618.249,-12.0
44,2013-01-02,21,2013-01-02 20:00:00,2013,1,2,20,2,A,0,3539.081,-12.7
45,2013-01-02,22,2013-01-02 21:00:00,2013,1,2,21,2,A,0,3466.113,-13.2
46,2013-01-02,23,2013-01-02 22:00:00,2013,1,2,22,2,A,0,3374.065,-13.8
47,2013-01-02,24,2013-01-02 23:00:00,2013,1,2,23,2,A,0,3231.625,-14.3
48,2013-01-03,1,2013-01-03 00:00:00,2013,1,3,0,3,A,0,2968.249,-15.1
49,2013-01-03,2,2013-01-03 01:00:00,2013,1,3,1,3,A,0,2711.129,-15.6

### 예측한 데이터 저장
* test 데이터 프레임 저장

In [48]:
test.to_csv("../CSV/pred_test.csv", index = False)

In [27]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize = (15, 10))
sns.lineplot(x = "일자", y = "기온", data = test)

In [ ]:
a = train[(train["year"] == 2013) & ((train["month"] == 1) | (train["month"] == 2) | (train["month"] == 3))]

In [ ]:
plt.figure(figsize = (15, 10))
sns.lineplot(x = "일시", y = "기온(°C)", data = a)

In [ ]:
sns.lineplot(x = "month", y = "기온", data = test)
sns.lineplot(x = "month", y = "기온(°C)", data = a)

In [ ]:
sns.lineplot(x = "month", y = "기온(°C)", hue = "year", data = train)