In [18]:
import pandas as pd
import numpy as np

In [19]:
submission = pd.read_csv('../CSV/가스공급량 수요예측 모델개발 data/sample_submission.csv')

df_1 = pd.read_csv("../CSV/Submission/16_4_features_DeepLearning_model.csv")
df_2 = pd.read_csv("../CSV/Submission/18_4_features_DeepLearning_model.csv")
df_3 = pd.read_csv("../CSV/Submission/23_4_features_DeepLearning_model.csv")

In [20]:
df_1.head(3)

          일자|시간|구분        공급량
0  2019-01-01 01 A  2217.6672
1  2019-01-01 02 A  1991.9584
2  2019-01-01 03 A  1911.1879

In [21]:
submission['공급량'] = (df_1["공급량"] + df_2["공급량"] + df_3["공급량"]) / 3
submission.head(3)

          일자|시간|구분          공급량
0  2019-01-01 01 A  2258.958733
1  2019-01-01 02 A  1995.726900
2  2019-01-01 03 A  1870.012900

In [22]:
submission.to_csv("../CSV/Submission/28_4_features_DeepLearning_model.csv", index = False)