In [1]:
import pandas as pd

In [2]:
print("2013-01-01 ~ 2018-12-31 총 길이 : {}".format(len(pd.date_range(start = "2013-01-01 00:00:00", 
                                                                    end = "2018-12-31 23:00:00", freq = "1h"))))
for i in range(2013, 2019) :
    print("{}년 길이 : {}".format(i, len(pd.date_range(start = f"{i}-01-01 00:00:00", 
                                                    end = f"{i}-12-31 23:00:00", freq = "1h"))))

2013-01-01 ~ 2018-12-31 총 길이 : 52584
2013년 길이 : 8760
2014년 길이 : 8760
2015년 길이 : 8760
2016년 길이 : 8784
2017년 길이 : 8760
2018년 길이 : 8760

In [3]:
pd.date_range(start = "2013-01-01 00:00:00", end = "2013-12-31 23:00:00", freq = "1h")

DatetimeIndex(['2013-01-01 00:00:00', '2013-01-01 01:00:00',
               '2013-01-01 02:00:00', '2013-01-01 03:00:00',
               '2013-01-01 04:00:00', '2013-01-01 05:00:00',
               '2013-01-01 06:00:00', '2013-01-01 07:00:00',
               '2013-01-01 08:00:00', '2013-01-01 09:00:00',
               ...
               '2013-12-31 14:00:00', '2013-12-31 15:00:00',
               '2013-12-31 16:00:00', '2013-12-31 17:00:00',
               '2013-12-31 18:00:00', '2013-12-31 19:00:00',
               '2013-12-31 20:00:00', '2013-12-31 21:00:00',
               '2013-12-31 22:00:00', '2013-12-31 23:00:00'],
              dtype='datetime64[ns]', length=8760, freq='H')

In [4]:
len(pd.date_range(start = "2016-01-01 00:00:00", end = "2016-12-31 23:00:00", freq = "1h"))

8784

In [12]:
print("2019-01-01 ~ 2019-03-31 총 길이 : {}".format(len(pd.date_range(start = "2019-01-01 00:00:00", 
                                                                    end = "2019-03-31 23:00:00", freq = "1h"))))

2019-01-01 ~ 2019-03-31 총 길이 : 2160

In [8]:
path = "../CSV/서울 기상 데이터/" + "2014" + "_seoul_weather.csv"
# print(path)
temp = pd.read_csv(path, encoding = 'cp949')
price_merge = pd.concat([price_merge, price], ignore_index = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             8760 non-null   int64
 1   지점명            8760 non-null   object
 2   일시             8760 non-null   object
 3   기온(°C)         8760 non-null   float64
 4   기온 QC플래그       8760 non-null   int64
 5   강수량(mm)        792 non-null    float64
 6   강수량 QC플래그      2269 non-null   float64
 7   풍속(m/s)        8760 non-null   float64
 8   풍속 QC플래그       8760 non-null   int64
 9   풍향(16방위)       8713 non-null   float64
 10  풍향 QC플래그       8760 non-null   int64
 11  습도(%)          8748 non-null   float64
 12  습도 QC플래그       8760 non-null   int64
 13  증기압(hPa)       8753 non-null   float64
 14  이슬점온도(°C)      8733 non-null   float64
 15  현지기압(hPa)      8711 non-null   float64
 16  현지기압 QC플래그     8760 non-null   int64
 17  해면기압(hPa)      8759 non-null   float64
 18  해면기압 QC플래그     8760 non-null   int64
 19  일조(hr)         4631 non-null   float64
 20  일조 QC플래그       8760 non-null   int64
 21  일사(MJ/m2)      4629 non-null   float64
 22  일사 QC플래그       8760 non-null   int64
 23  적설(cm)         395 non-null    float64
 24  3시간신적설(cm)     34 non-null     float64
 25  전운량(10분위)      6747 non-null   float64
 26  중하층운량(10분위)    6828 non-null   float64
 27  운형(운형약어)       4970 non-null   object
 28  최저운고(100m )    3949 non-null   float64
 29  시정(10m)        6828 non-null   float64
 30  지면상태(지면상태코드)   1465 non-null   float64
 31  현상번호(국내식)      3739 non-null   float64
 32  지면온도(°C)       8759 non-null   float64
 33  지면온도 QC플래그     8760 non-null   int64
 34  5cm 지중온도(°C)   8759 non-null   float64
 35  10cm 지중온도(°C)  8760 non-null   float64
 36  20cm 지중온도(°C)  8760 non-null   float64
 37  30cm 지중온도(°C)  8650 non-null   float64
dtypes: float64(25), int64(10), object(3)
memory usage: 2.5+ MB

In [7]:
train = pd.read_csv("../CSV/한국가스공사_시간별_공급량_20181231.csv", encoding = 'cp949', parse_dates = ["연월일"])

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368088 entries, 0 to 368087
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   연월일     368088 non-null  datetime64[ns]
 1   시간      368088 non-null  int64
 2   구분      368088 non-null  object
 3   공급량     368088 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 11.2+ MB

In [10]:
train["year"] = train["연월일"].dt.year
train["month"] = train["연월일"].dt.month
train["day"] = train["연월일"].dt.day

In [11]:
train.head(3)

         연월일  시간 구분       공급량  year  month  day
0 2013-01-01   1  A  2497.129  2013      1    1
1 2013-01-01   2  A  2363.265  2013      1    1
2 2013-01-01   3  A  2258.505  2013      1    1

In [2]:
import pandas as pd

In [4]:
weather = pd.read_csv("../CSV/서울 기상 데이터/2013_2018_seoul_weather.csv", parse_dates = ["일시"])
test = pd.read_csv("../CSV/가스공급량 수요예측 모델개발 data/test.csv")

In [3]:
weather.head(3)

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2013-01-01 00:00:00,-8.3,0.0,NaN,NaN,3.6,0.0,50.0,...,10.0,2000.0,NaN,NaN,-3.3,0.0,-2.9,-1.6,-0.5,0.3
1,108,서울,2013-01-01 01:00:00,-8.5,0.0,NaN,NaN,4.0,0.0,50.0,...,NaN,NaN,NaN,NaN,-3.4,0.0,-2.9,-1.6,-0.5,0.3
2,108,서울,2013-01-01 02:00:00,-8.4,0.0,NaN,NaN,4.0,0.0,70.0,...,NaN,NaN,NaN,NaN,-3.4,0.0,-3.0,-1.6,-0.5,0.4

In [5]:
test.head(3)

          일자|시간|구분
0  2019-01-01 01 A
1  2019-01-01 02 A
2  2019-01-01 03 A

In [17]:
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error
import pandas as pd
import xgboost as xgb
import lightgbm as lgb

In [28]:
train_data = pd.read_csv("../CSV/train_data.csv")
new_test = pd.read_csv("../CSV/new_test.csv")
pred_test = pd.read_csv("../CSV/pred_test.csv")

In [29]:
train_data.head(3)

,연월일,시간,일시,year,month,day,hour,weekday,구분,구분_int,공급량,기온(°C)
0,2013-01-01,1,2013-01-01 00:00:00,2013,1,1,0,1,A,0,2497.129,-8.3
1,2013-01-01,2,2013-01-01 01:00:00,2013,1,1,1,1,A,0,2363.265,-8.5
2,2013-01-01,3,2013-01-01 02:00:00,2013,1,1,2,1,A,0,2258.505,-8.4

In [30]:
new_test.head(3)

,일자|시간|구분,일자,시간,구분,구분_int,일시,year,month,day,hour,weekday
0,2019-01-01 01 A,2019-01-01,1,A,0,2019-01-01 00:00:00,2019,1,1,0,1
1,2019-01-01 02 A,2019-01-01,2,A,0,2019-01-01 01:00:00,2019,1,1,1,1
2,2019-01-01 03 A,2019-01-01,3,A,0,2019-01-01 02:00:00,2019,1,1,2,1

In [31]:
pred_test.head(3)

,일자|시간|구분,일자,시간,구분,구분_int,일시,year,month,day,hour,weekday,기온(°C)
0,2019-01-01 01 A,2019-01-01,1,A,0,2019-01-01 00:00:00,2019,1,1,0,1,-2.4
1,2019-01-01 02 A,2019-01-01,2,A,0,2019-01-01 01:00:00,2019,1,1,1,1,-2.4
2,2019-01-01 03 A,2019-01-01,3,A,0,2019-01-01 02:00:00,2019,1,1,2,1,-2.7

In [11]:
sel = ['year', 'month', 'day', 'hour', 'weekday', '기온(°C)']
X = train_data[sel]
y = train_data['공급량']
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                   random_state=42)
# 모델 생성 및 학습
gbrt = GradientBoostingRegressor(random_state=0)
gbrt.fit(X_train, y_train)

pred = gbrt.predict(X_test)

# 결정계수 확인
# print("학습용 : {}, 테스트용 : {}".format(10 - i, i))
print("학습용 데이터 결정계수: {:.3f}".format(gbrt.score(X_train, y_train)))
print("테스트 데이터 결정계수: {:.3f}".format(gbrt.score(X_test, y_test)))
print("MSE :", mean_squared_error(y_test, pred))

학습용 데이터 결정계수: 0.384
테스트 데이터 결정계수: 0.383
MSE : 535214.0332567788

In [14]:
sel = ['year', 'month', 'day', 'hour', 'weekday', '기온(°C)']
X = train_data[sel]
y = train_data['공급량']
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = 0.3, 
                                                   random_state=42)

xgb_model = xgb.XGBRegressor(objective = "reg:linear", 
                            colsample_bytree = 0.3, 
                            learning_rate = 0.1, 
                            max_depth = 3, 
                            alpha = 0.1, 
                            n_estimators = 1000)
xgb_model.fit(X_train, y_train)
pred = xgb_model.predict(X_test)

# 결정계수 확인
print("학습용 데이터 결정계수: {:.3f}".format(xgb_model.score(X_train, y_train)))
print("테스트 데이터 결정계수: {:.3f}".format(xgb_model.score(X_test, y_test)))
print("MSE :", mean_squared_error(y_test, pred))
print()

[22:54:50] WARNING: /opt/concourse/worker/volumes/live/7a2b9f41-3287-451b-6691-43e9a6c0910f/volume/xgboost-split_1619728204606/work/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
학습용 데이터 결정계수: 0.378
테스트 데이터 결정계수: 0.376
MSE : 540317.3513337233

In [15]:
sel = ['year', 'month', 'day', 'hour', 'weekday']
X = train_data[sel]
y = train_data['공급량']
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = 0.3, 
                                                   random_state=42)

xgb_model = xgb.XGBRegressor(objective = "reg:linear", 
                            colsample_bytree = 0.3, 
                            learning_rate = 0.1, 
                            max_depth = 3, 
                            alpha = 0.1, 
                            n_estimators = 1000)
xgb_model.fit(X_train, y_train)
pred = xgb_model.predict(X_test)

# 결정계수 확인
print("학습용 데이터 결정계수: {:.3f}".format(xgb_model.score(X_train, y_train)))
print("테스트 데이터 결정계수: {:.3f}".format(xgb_model.score(X_test, y_test)))
print("MSE :", mean_squared_error(y_test, pred))
print()

[22:55:24] WARNING: /opt/concourse/worker/volumes/live/7a2b9f41-3287-451b-6691-43e9a6c0910f/volume/xgboost-split_1619728204606/work/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
학습용 데이터 결정계수: 0.345
테스트 데이터 결정계수: 0.344
MSE : 567890.6506434595

In [20]:
sel = ['year', 'month', 'day', 'hour', 'weekday', '기온(°C)']
X = train_data[sel]
y = train_data['공급량']
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = 0.3, 
                                                   random_state=42)

hyperparameters = {'boosting_type': 'gbdt', 
                   'colsample_bytree': 0.7250136792694301, 
                   'is_unbalance': False, 
                   'learning_rate': 0.013227664889528229,
                   'min_child_samples': 20, 
                   'num_leaves': 56, 
                   'reg_alpha': 0.7543896477745794, 
                   'reg_lambda': 0.07152751159655985, 
                   'subsample_for_bin': 240000, 
                   'subsample': 0.5233384321711397, 
                   'n_estimators': 2000}

lgb_model = lgb.LGBMRegressor(**hyperparameters)
lgb_model.fit(X_train, y_train)
pred = lgb_model.predict(X_test)

# 결정계수 확인
print("학습용 데이터 결정계수: {:.3f}".format(lgb_model.score(X_train, y_train)))
print("테스트 데이터 결정계수: {:.3f}".format(lgb_model.score(X_test, y_test)))
print("MSE :", mean_squared_error(y_test, pred))
print()

학습용 데이터 결정계수: 0.400
테스트 데이터 결정계수: 0.366
MSE : 548334.1589111221

In [21]:
sel = ['year', 'month', 'day', 'hour', 'weekday']
X = train_data[sel]
y = train_data['공급량']
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = 0.3, 
                                                   random_state=42)

hyperparameters = {'boosting_type': 'gbdt', 
                   'colsample_bytree': 0.7250136792694301, 
                   'is_unbalance': False, 
                   'learning_rate': 0.013227664889528229,
                   'min_child_samples': 20, 
                   'num_leaves': 56, 
                   'reg_alpha': 0.7543896477745794, 
                   'reg_lambda': 0.07152751159655985, 
                   'subsample_for_bin': 240000, 
                   'subsample': 0.5233384321711397, 
                   'n_estimators': 2000}

lgb_model = lgb.LGBMRegressor(**hyperparameters)
lgb_model.fit(X_train, y_train)
pred = lgb_model.predict(X_test)

# 결정계수 확인
print("학습용 데이터 결정계수: {:.3f}".format(lgb_model.score(X_train, y_train)))
print("테스트 데이터 결정계수: {:.3f}".format(lgb_model.score(X_test, y_test)))
print("MSE :", mean_squared_error(y_test, pred))
print()

학습용 데이터 결정계수: 0.395
테스트 데이터 결정계수: 0.373
MSE : 543076.1994286178

In [25]:
sel = ['year', 'month', 'day', 'hour', 'weekday', '기온(°C)']
X = train_data[sel]
y = train_data['공급량']
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = 0.3, 
                                                   random_state=42)

d_train = lgb.Dataset(X_train, y_train)
d_val = lgb.Dataset(X_test, y_test)

params = {
    'objective': 'regression',
    'metric':'mae',
    'seed':42
}

model = lgb.train(params, d_train, 500, d_val, verbose_eval=20, early_stopping_rounds=10)
pred = model.predict(X_test)
train_mse = mean_squared_error(y_test, pred)
print(train_mse)

# cross_val = cross_val_score(model, val_x, val_y, cv = 5,
#                            scoring = "neg_mean_squared_error")
# print("cross validation :", cross_val)

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001347 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 338
[LightGBM] [Info] Number of data points in the train set: 257661, number of used features: 6
[LightGBM] [Info] Start training from score 946.606691
Training until validation scores don't improve for 10 rounds
[20]	valid_0's l1: 545.188
[40]	valid_0's l1: 533.47
[60]	valid_0's l1: 531.701
[80]	valid_0's l1: 531.488
Early stopping, best iteration is:
[81]	valid_0's l1: 531.482
533688.0494788687

In [47]:
sel = ['year', 'month', 'day', 'hour', 'weekday', "구분_int"]
X = train_data[sel]
y = train_data['공급량']
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = 0.3, 
                                                   random_state=42)

d_train = lgb.Dataset(X_train, y_train)
d_val = lgb.Dataset(X_test, y_test)

params = {
    'objective': 'regression',
    'metric':'mae',
    'seed':42
}

model = lgb.train(params, d_train, 500, d_val, verbose_eval=20, early_stopping_rounds=10)
pred = model.predict(X_test)
train_mse = mean_squared_error(y_test, pred)
print(train_mse)

# cross_val = cross_val_score(model, val_x, val_y, cv = 5,
#                            scoring = "neg_mean_squared_error")
# print("cross validation :", cross_val)

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.002673 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 90
[LightGBM] [Info] Number of data points in the train set: 257661, number of used features: 6
[LightGBM] [Info] Start training from score 946.606691
Training until validation scores don't improve for 10 rounds
[20]	valid_0's l1: 205.493
[40]	valid_0's l1: 133.463
[60]	valid_0's l1: 113.641
[80]	valid_0's l1: 102.823
[100]	valid_0's l1: 96.6139
[120]	valid_0's l1: 92.7893
[140]	valid_0's l1: 89.2267
[160]	valid_0's l1: 86.4813
[180]	valid_0's l1: 84.0359
[200]	valid_0's l1: 81.6037
[220]	valid_0's l1: 79.8429
[240]	valid_0's l1: 78.1116
[260]	valid_0's l1: 76.1408
[280]	valid_0's l1: 74.3404
[300]	valid_0's l1: 72.7089
[320]	valid_0's l1: 71.2988
[340]	valid_0's l1: 70.0873
[360]	valid_0's l1: 68.7541
[380]	valid_0's l1: 67.7463
[400]	valid_0's l1: 66.3437
[420]	valid_0's l1: 65.1996
[440]	valid_0's l1: 64.273
[460]	valid_0's l1: 63.3965
[480]	valid_0's l1: 62.5379
[500]	valid_0's l1: 61.6409
Did not meet early stopping. Best iteration is:
[500]	valid_0's l1: 61.6409
10529.95106829911

In [36]:
from sklearn.metrics import roc_auc_score, accuracy_score

In [44]:
sel = ['year', 'month', 'day', 'hour', 'weekday', "구분_int", '기온(°C)']
X = train_data[sel]
y = train_data['공급량']
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = 0.3, 
                                                   random_state=42)

d_train = lgb.Dataset(X_train, y_train)
d_val = lgb.Dataset(X_test, y_test)

params = {
    'objective': 'regression',
    'metric':'mae',
    'seed':42
}

model = lgb.train(params, d_train, 2000, d_val, verbose_eval=20, early_stopping_rounds=10)
pred = model.predict(X_test)
train_mse = mean_squared_error(y_test, pred)
print("MSE : ", train_mse)
# print("Training score : ", lgb.score(X_train, y_train))
# print("accuracy Score : {}".format(accuracy_score(y_test, pred))) 
# print("ROC-AUC Score : {}".format(roc_auc_score(y_test, pred)))

# cross_val = cross_val_score(model, val_x, val_y, cv = 5,
#                            scoring = "neg_mean_squared_error")
# print("cross validation :", cross_val)
submission = pd.read_csv('../CSV/가스공급량 수요예측 모델개발 data/sample_submission.csv')

test_x = pred_test[sel]

preds = model.predict(test_x)
submission['공급량'] = preds
# submission.to_csv("../CSV/Submission/7_columns_lightgbm_model.csv", index = False)

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.002878 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 90
[LightGBM] [Info] Number of data points in the train set: 257661, number of used features: 6
[LightGBM] [Info] Start training from score 946.606691
Training until validation scores don't improve for 10 rounds
[20]	valid_0's l1: 205.493
[40]	valid_0's l1: 133.463
[60]	valid_0's l1: 113.641
[80]	valid_0's l1: 102.823
[100]	valid_0's l1: 96.6139
[120]	valid_0's l1: 92.7893
[140]	valid_0's l1: 89.2267
[160]	valid_0's l1: 86.4813
[180]	valid_0's l1: 84.0359
[200]	valid_0's l1: 81.6037
[220]	valid_0's l1: 79.8429
[240]	valid_0's l1: 78.1116
[260]	valid_0's l1: 76.1408
[280]	valid_0's l1: 74.3404
[300]	valid_0's l1: 72.7089
[320]	valid_0's l1: 71.2988
[340]	valid_0's l1: 70.0873
[360]	valid_0's l1: 68.7541
[380]	valid_0's l1: 67.7463
[400]	valid_0's l1: 66.3437
[420]	valid_0's l1: 65.1996
[440]	valid_0's l1: 64.273
[460]	valid_0's l1: 63.3965
[480]	valid_0's l1: 62.5379
[500]	valid_0's l1: 61.6409
[520]	valid_0's l1: 60.8467
[540]	valid_0's l1: 60.0495
[560]	valid_0's l1: 59.2382
[580]	valid_0's l1: 58.4242
[600]	valid_0's l1: 57.6907
[620]	valid_0's l1: 57.2498
[640]	valid_0's l1: 56.7675
[660]	valid_0's l1: 56.1902
[680]	valid_0's l1: 55.5938
[700]	valid_0's l1: 55.0878
[720]	valid_0's l1: 54.3925
[740]	valid_0's l1: 53.8519
[760]	valid_0's l1: 53.4425
[780]	valid_0's l1: 53.0031
[800]	valid_0's l1: 52.557
[820]	valid_0's l1: 52.2082
[840]	valid_0's l1: 51.8361
[860]	valid_0's l1: 51.4772
[880]	valid_0's l1: 51.0154
[900]	valid_0's l1: 50.606
[920]	valid_0's l1: 50.2024
[940]	valid_0's l1: 49.7862
[960]	valid_0's l1: 49.3051
[980]	valid_0's l1: 48.9729
[1000]	valid_0's l1: 48.3958
[1020]	valid_0's l1: 47.9972
[1040]	valid_0's l1: 47.67
[1060]	valid_0's l1: 47.4034
[1080]	valid_0's l1: 47.1663
[1100]	valid_0's l1: 46.8728
[1120]	valid_0's l1: 46.5939
[1140]	valid_0's l1: 46.2967
[1160]	valid_0's l1: 46.006
[1180]	valid_0's l1: 45.7198
[1200]	valid_0's l1: 45.4128
[1220]	valid_0's l1: 45.1137
[1240]	valid_0's l1: 44.8874
[1260]	valid_0's l1: 44.6342
[1280]	valid_0's l1: 44.416
[1300]	valid_0's l1: 44.1436
[1320]	valid_0's l1: 43.8848
[1340]	valid_0's l1: 43.609
[1360]	valid_0's l1: 43.2989
[1380]	valid_0's l1: 43.1346
[1400]	valid_0's l1: 42.9171
[1420]	valid_0's l1: 42.7322
[1440]	valid_0's l1: 42.5286
[1460]	valid_0's l1: 42.249
[1480]	valid_0's l1: 42.0501
[1500]	valid_0's l1: 41.8832
[1520]	valid_0's l1: 41.7383
[1540]	valid_0's l1: 41.5274
[1560]	valid_0's l1: 41.3231
[1580]	valid_0's l1: 41.0854
[1600]	valid_0's l1: 40.897
[1620]	valid_0's l1: 40.761
[1640]	valid_0's l1: 40.6109
[1660]	valid_0's l1: 40.4518
[1680]	valid_0's l1: 40.1942
[1700]	valid_0's l1: 40.0037
[1720]	valid_0's l1: 39.812
[1740]	valid_0's l1: 39.6042
[1760]	valid_0's l1: 39.4364
[1780]	valid_0's l1: 39.3187
[1800]	valid_0's l1: 39.1914
[1820]	valid_0's l1: 39.0417
[1840]	valid_0's l1: 38.9061
[1860]	valid_0's l1: 38.7345
[1880]	valid_0's l1: 38.5767
[1900]	valid_0's l1: 38.4363
[1920]	valid_0's l1: 38.3102
[1940]	valid_0's l1: 38.1943
[1960]	valid_0's l1: 38.0738
[1980]	valid_0's l1: 37.9734
[2000]	valid_0's l1: 37.8415
Did not meet early stopping. Best iteration is:
[2000]	valid_0's l1: 37.8415
MSE :  4970.373578664712

In [48]:
submission.head(3)

          일자|시간|구분          공급량
0  2019-01-01 01 A  2070.639656
1  2019-01-01 02 A  1903.288381
2  2019-01-01 03 A  1819.286682

In [ ]:
t