In [1]:
import pandas as pd

In [2]:
print("2013-01-01 ~ 2018-12-31 총 길이 : {}".format(len(pd.date_range(start = "2013-01-01 00:00:00", 
                                                                    end = "2018-12-31 23:00:00", freq = "1h"))))
for i in range(2013, 2019) :
    print("{}년 길이 : {}".format(i, len(pd.date_range(start = f"{i}-01-01 00:00:00", 
                                                    end = f"{i}-12-31 23:00:00", freq = "1h"))))

2013-01-01 ~ 2018-12-31 총 길이 : 52584
2013년 길이 : 8760
2014년 길이 : 8760
2015년 길이 : 8760
2016년 길이 : 8784
2017년 길이 : 8760
2018년 길이 : 8760

In [3]:
pd.date_range(start = "2013-01-01 00:00:00", end = "2013-12-31 23:00:00", freq = "1h")

DatetimeIndex(['2013-01-01 00:00:00', '2013-01-01 01:00:00',
               '2013-01-01 02:00:00', '2013-01-01 03:00:00',
               '2013-01-01 04:00:00', '2013-01-01 05:00:00',
               '2013-01-01 06:00:00', '2013-01-01 07:00:00',
               '2013-01-01 08:00:00', '2013-01-01 09:00:00',
               ...
               '2013-12-31 14:00:00', '2013-12-31 15:00:00',
               '2013-12-31 16:00:00', '2013-12-31 17:00:00',
               '2013-12-31 18:00:00', '2013-12-31 19:00:00',
               '2013-12-31 20:00:00', '2013-12-31 21:00:00',
               '2013-12-31 22:00:00', '2013-12-31 23:00:00'],
              dtype='datetime64[ns]', length=8760, freq='H')

In [4]:
len(pd.date_range(start = "2016-01-01 00:00:00", end = "2016-12-31 23:00:00", freq = "1h"))

8784

In [8]:
path = "../CSV/서울 기상 데이터/" + "2014" + "_seoul_weather.csv"
# print(path)
temp = pd.read_csv(path, encoding = 'cp949')
price_merge = pd.concat([price_merge, price], ignore_index = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             8760 non-null   int64
 1   지점명            8760 non-null   object
 2   일시             8760 non-null   object
 3   기온(°C)         8760 non-null   float64
 4   기온 QC플래그       8760 non-null   int64
 5   강수량(mm)        792 non-null    float64
 6   강수량 QC플래그      2269 non-null   float64
 7   풍속(m/s)        8760 non-null   float64
 8   풍속 QC플래그       8760 non-null   int64
 9   풍향(16방위)       8713 non-null   float64
 10  풍향 QC플래그       8760 non-null   int64
 11  습도(%)          8748 non-null   float64
 12  습도 QC플래그       8760 non-null   int64
 13  증기압(hPa)       8753 non-null   float64
 14  이슬점온도(°C)      8733 non-null   float64
 15  현지기압(hPa)      8711 non-null   float64
 16  현지기압 QC플래그     8760 non-null   int64
 17  해면기압(hPa)      8759 non-null   float64
 18  해면기압 QC플래그     8760 non-null   int64
 19  일조(hr)         4631 non-null   float64
 20  일조 QC플래그       8760 non-null   int64
 21  일사(MJ/m2)      4629 non-null   float64
 22  일사 QC플래그       8760 non-null   int64
 23  적설(cm)         395 non-null    float64
 24  3시간신적설(cm)     34 non-null     float64
 25  전운량(10분위)      6747 non-null   float64
 26  중하층운량(10분위)    6828 non-null   float64
 27  운형(운형약어)       4970 non-null   object
 28  최저운고(100m )    3949 non-null   float64
 29  시정(10m)        6828 non-null   float64
 30  지면상태(지면상태코드)   1465 non-null   float64
 31  현상번호(국내식)      3739 non-null   float64
 32  지면온도(°C)       8759 non-null   float64
 33  지면온도 QC플래그     8760 non-null   int64
 34  5cm 지중온도(°C)   8759 non-null   float64
 35  10cm 지중온도(°C)  8760 non-null   float64
 36  20cm 지중온도(°C)  8760 non-null   float64
 37  30cm 지중온도(°C)  8650 non-null   float64
dtypes: float64(25), int64(10), object(3)
memory usage: 2.5+ MB