### 2021_09_29_4 5

In [5]:
from selenium import webdriver
from bs4 import BeautifulSoup
import time

### 웹 브라우저 띄우기

In [10]:
driver = webdriver.Chrome('./DATA/chromedriver')

url = 'https://www.bloomberg.com/graphics/covid-vaccine-tracker-global-distribution/'
driver.get(url)

### 전체 데이터 보기
* 나라가 여러나라가 있어, 더 보기 버튼을 2번 정도 눌러준다.

In [11]:
# //*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button
# //*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button
sel_more1 = driver.find_element_by_xpath('//*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button')
sel_more1.click()
time.sleep(1)

In [12]:
# //*[@id="dvz-table-usa-vaccination"]/div[2]/div[2]/button
sel_more2 = driver.find_element_by_xpath('//*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button')
sel_more2.click()

### TABLE 선택 후, 데이터 가져오기

Countries and regions
* //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[1]
* ..
* //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[3]/td[1]

Doses administered
* //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[2]

Enough for % of people
* //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[3]

given 1+ dose
* //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[4]

fully vaccinated
* //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[5]

Daily rate of doses administered
* //*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr[1]/td[6]

In [14]:
all_data = []

for i in range(1,7,1):
    data_col = []
    xpath = '//*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr/td[%s]' % str(i) 
    sel_data = driver.find_elements_by_xpath(xpath)
    
    for dat in sel_data:
        data_col.append(dat.text)
        
    print(data_col)
    all_data.append(data_col)

['Global Total', 'Mainland China', 'India', 'EU', 'U.S.', 'Brazil', 'Japan', 'Indonesia', 'Turkey', 'Germany', 'Mexico', 'France', 'U.K.', '', '', '', '', '', 'Russia', 'Italy', 'Pakistan', 'Spain', 'South Korea', 'Canada', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Argentina', 'Thailand', 'Philippines', 'Iran', 'Malaysia', 'Saudi Arabia', 'Bangladesh', 'Morocco', 'Colombia', 'Vietnam', 'Poland', 'Chile', 'Australia', 'Sri Lanka', 'Peru', 'Cambodia', 'Netherlands', 'Ecuador', 'Cuba', 'UAE', 'Uzbekistan', 'Ukraine', 'South Africa', 'Belgium', 'Portugal', 'Egypt', 'Israel', 'Taiwan', 'Algeria', 'Venezuela', 'Kazakhstan', 'Sweden', 'Nepal', 'Greece', 'Dominican Republic', 'Czech Republic', 'Hungary', 'Austria', 'Switzerland', '', 'Romania', 'Singapore', 'Myanmar', 'Denmark', 'Hong Kong', 'Azerbaijan', 'Norway', 'Finland', 'Iraq', 'Tunisia', 'El Salvador', 'Ireland', 'Jordan', 'Guatemala', 'Bolivia', 'Nigeria', 'Serbia', 'Uruguay', 'Panama', 'Costa Rica', 'Zimbabwe', 'Honduras', 'New Zealand', 'Oman', 'Slovakia', 'Qatar', 'Mongolia', 'Paraguay', 'Laos', 'Tajikistan', 'Rwanda', 'Mozambique', 'Kenya', 'Ethiopia', 'Croatia', 'Belarus', 'Lithuania', 'Angola', 'Afghanistan', 'Lebanon', 'Bahrain', 'Bulgaria', 'Kuwait', 'Slovenia', 'Uganda', 'Ivory Coast', 'Senegal', 'Georgia', 'Albania', 'Guinea', 'Ghana', 'Sudan', 'Mauritius', 'Latvia', 'Libya', 'North Macedonia', 'Kyrgyzstan', 'Moldova', 'Estonia', 'Kosovo', 'Cyprus', 'Malawi', 'Bhutan', 'Bosnia and Herzegovina', 'Trinidad and Tobago', 'Togo', 'Fiji', 'Mauritania', 'Malta', 'Nicaragua', 'Luxembourg', 'Jamaica', 'Maldives', 'Zambia', 'Timor-Leste', 'Macau', 'Niger', 'Botswana', 'Iceland', 'Guyana', 'Syria', 'Somalia', 'Cameroon', 'Montenegro', 'Brunei', 'Madagascar', 'Cape Verde', 'Armenia', 'Namibia', 'Mali', 'Suriname', 'Tanzania', 'Equatorial Guinea', 'Comoros', 'Lesotho', 'Republic of the Congo', 'Yemen', 'Belize', 'Liberia', 'Burkina Faso', 'Eswatini', 'Barbados', 'Sierra Leone', 'Benin', 'Gambia', 'Central African Republic', 'Curaçao', 'Bahamas', 'Gabon', 'Papua New Guinea', 'Aruba', 'Jersey', 'Samoa', 'Seychelles', 'Chad', 'DR Congo', 'Isle of Man', 'Cayman Islands', 'South Sudan', 'Greenland', 'Guernsey', 'Solomon Islands', 'Andorra', 'Guinea-Bissau', 'Antigua and Barbuda', 'Bermuda', 'Sao Tome and Principe', 'Gibraltar', 'St. Lucia', 'Faroe Islands', 'Tonga', 'Micronesia', 'Djibouti', 'Haiti', 'Grenada', 'Turks & Caicos', 'Monaco', 'Sint Maarten', 'Saint Kitts and Nevis', 'San Marino', 'Dominica', 'Turkmenistan', 'St. Vincent and the Grenadines', 'Anguilla', 'Nauru', 'St. Helena', 'Falkland Islands', 'Montserrat', 'Eritrea']
['6,199,443,468', '2,203,185,000', '876,538,633', '564,029,956', '391,152,574', '233,261,963', '161,057,159', '139,232,210', '108,761,681', '107,197,993', '99,366,403', '94,250,528', '93,565,474', '', '', '', '', '', '89,865,316', '84,351,559', '79,533,208', '69,936,755', '62,462,921', '56,036,106', '', '', '', '', '', '', '', '', '', '', '', '', '', '51,222,138', '46,023,016', '44,361,285', '43,372,270', '43,028,919', '41,886,224', '41,466,455', '40,273,386', '39,701,907', '39,232,772', '37,158,644', '31,553,676', '27,109,766', '26,096,107', '25,912,376', '23,830,570', '23,540,559', '20,571,335', '20,298,170', '19,963,359', '18,526,941', '17,867,953', '17,176,603', '16,644,129', '15,950,862', '15,057,720', '14,970,627', '14,763,330', '14,082,920', '14,050,000', '14,013,701', '13,703,515', '13,166,598', '12,088,975', '11,828,826', '11,788,930', '11,167,215', '10,802,266', '10,358,035', '', '10,114,580', '9,306,870', '9,001,616', '8,815,419', '8,622,733', '8,350,575', '7,757,255', '7,523,959', '7,448,300', '7,425,277', '7,396,969', '7,200,652', '6,960,192', '6,757,605', '6,700,654', '6,552,979', '6,409,263', '6,214,949', '5,367,816', '5,278,479', '5,263,782', '5,196,072', '5,087,231', '4,946,987', '4,762,272', '4,702,517', '4,545,348', '4,488,153', '4,402,770', '3,872,421', '3,740,279', '3,644,423', '3,613,357', '3,535,329', '3,413,174', '3,389,520', '3,199,916', '3,134,137', '3,133,227', '2,929,966', '2,568,320', '2,521,738', '2,380,000', '2,113,404', '2,058,553', '1,968,171', '1,784,832', '1,760,878', '1,715,133', '1,699,898', '1,653,422', '1,650,828', '1,633,952', '1,621,953', '1,546,967', '1,495,762', '1,422,970', '1,392,707', '1,361,564', '1,283,840', '1,147,010', '1,087,426', '1,068,414', '1,060,145', '1,047,111', '997,632', '975,268', '890,122', '818,593', '788,502', '784,482', '743,184', '727,664', '711,264', '675,891', '649,564', '621,853', '606,699', '551,110', '538,748', '533,949', '464,359', '461,201', '452,830', '443,676', '417,648', '414,300', '408,535', '407,502', '405,053', '394,029', '389,807', '387,510', '336,863', '332,954', '329,905', '322,934', '304,218', '284,246', '254,545', '240,002', '234,124', '232,375', '226,269', '207,195', '187,160', '186,793', '184,461', '180,320', '164,776', '155,753', '150,891', '149,431', '148,402', '142,548', '134,945', '129,318', '110,096', '103,751', '102,357', '101,898', '97,744', '95,918', '94,715', '89,252', '86,676', '82,679', '79,502', '76,224', '74,129', '73,603', '72,085', '67,229', '64,799', '55,663', '52,374', '49,980', '49,310', '47,098', '47,088', '44,624', '41,993', '33,077', '18,584', '14,863', '7,892', '4,407', '2,871', '–']
['–', '78.7', '32.0', '63.5', '61.1', '56.5', '63.8', '26.1', '65.4', '64.5', '38.9', '72.7', '70.0', '', '', '', '', '', '30.6', '69.9', '19.4', '75.2', '60.4', '74.7', '', '', '', '', '', '', '', '', '', '', '', '', '', '57.0', '33.1', '20.7', '26.0', '66.0', '61.4', '12.4', '56.6', '39.4', '20.3', '48.9', '82.6', '53.1', '59.8', '39.1', '72.2', '68.3', '59.6', '89.6', '92.9', '27.9', '21.4', '16.4', '72.6', '77.6', '7.6', '82.7', '31.3', '16.2', '25.3', '37.6', '66.3', '23.1', '56.4', '57.1', '55.3', '57.1', '61.0', '60.6', '', '26.1', '81.6', '8.5', '75.9', '57.3', '41.8', '72.4', '68.2', '9.5', '31.5', '57.3', '72.7', '34.6', '19.2', '29.0', '1.6', '46.0', '88.3', '63.6', '52.0', '17.7', '26.6', '51.6', '59.0', '43.7', '84.1', '68.9', '31.4', '30.7', '20.8', '15.1', '5.8', '3.8', '1.8', '42.0', '17.9', '57.5', '5.2', '4.2', '21.4', '86.5', '18.1', '25.1', '52.1', '2.6', '3.7', '5.5', '23.6', '29.9', '6.2', '2.7', '1.9', '64.5', '42.2', '11.8', '36.0', '11.1', '26.0', '51.4', '35.7', '65.5', '2.7', '71.7', '16.1', '37.5', '6.2', '54.5', '11.0', '82.9', '6.0', '63.9', '13.6', '97.8', '1.9', '26.1', '47.8', '1.3', '12.8', '77.2', '34.3', '–', '1.5', '0.9', '36.3', '48.2', '0.8', '37.7', '6.9', '8.3', '1.1', '33.0', '0.3', '14.2', '19.3', '8.1', '3.6', '0.5', '37.3', '3.1', '0.6', '10.8', '40.8', '1.5', '1.0', '4.4', '2.0', '57.3', '24.2', '4.3', '1.0', '69.5', '–', '37.2', '77.3', '0.4', '0.1', '76.1', '84.7', '0.4', '89.8', '–', '7.6', '62.3', '2.7', '46.0', '68.8', '19.4', '116.9', '21.2', '75.6', '36.8', '34.7', '3.1', '0.3', '25.5', '68.9', '64.1', '58.7', '41.3', '69.2', '31.4', '0.4', '15.0', '61.9', '57.2', '65.8', '73.5', '28.7', '–']
['–', '78.6', '46.7', '67.3', '64.4', '71.3', '69.5', '32.9', '64.5', '67.9', '49.8', '77.4', '73.0', '', '', '', '', '', '32.6', '74.5', '28.3', '81.0', '74.5', '76.2', '', '', '', '', '', '', '', '', '', '', '', '', '', '65.7', '42.4', '23.5', '35.5', '70.6', '68.4', '14.9', '61.6', '51.4', '32.1', '52.1', '78.5', '63.1', '66.0', '46.7', '79.6', '70.3', '64.2', '79.8', '85.9', '29.4', '29.6', '20.7', '74.8', '86.9', '9.7', '67.3', '53.2', '13.9', '31.6', '40.4', '69.2', '23.9', '59.9', '58.2', '57.0', '60.2', '64.5', '64.3', '', '28.2', '82.1', '10.5', '76.7', '59.5', '47.2', '77.2', '74.8', '11.7', '40.5', '62.8', '76.1', '36.6', '24.9', '36.8', '2.3', '43.4', '77.7', '69.7', '64.5', '20.5', '32.8', '66.0', '69.1', '44.8', '84.4', '68.3', '36.7', '39.1', '24.8', '16.9', '6.1', '5.7', '2.9', '44.5', '19.8', '62.5', '7.1', '2.6', '23.5', '78.4', '17.3', '56.2', '54.1', '4.1', '5.6', '7.6', '26.2', '32.7', '8.5', '2.9', '1.5', '66.8', '47.4', '20.7', '37.6', '12.7', '22.9', '57.0', '43.3', '67.9', '3.9', '77.1', '19.2', '41.5', '7.4', '65.7', '7.9', '85.1', '7.7', '68.1', '19.3', '105.3', '1.8', '32.8', '51.2', '1.7', '17.2', '78.8', '45.2', '–', '1.7', '1.5', '38.6', '58.7', '0.7', '51.7', '8.9', '10.5', '1.7', '37.8', '–', '16.4', '20.0', '12.2', '4.7', '1.0', '47.6', '2.3', '1.2', '18.7', '46.1', '2.4', '1.3', '7.8', '3.0', '60.0', '30.0', '4.9', '1.4', '72.5', '–', '49.3', '80.5', '0.7', '0.1', '77.0', '84.7', '0.6', '124.5', '–', '11.6', '68.7', '4.9', '50.1', '69.6', '28.4', '117.4', '25.0', '77.7', '46.1', '41.6', '3.8', '0.4', '30.4', '72.2', '68.4', '61.2', '44.2', '71.8', '33.3', '0.6', '18.2', '63.3', '58.6', '72.7', '87.7', '29.7', '–']

['–', '73.0', '16.8', '64.7', '55.8', '41.9', '58.2', '18.4', '53.0', '64.2', '35.0', '74.6', '67.1', '', '', '', '', '', '28.5', '74.5', '13.4', '78.5', '46.3', '70.6', '', '', '', '', '', '', '', '', '', '', '', '', '', '48.3', '22.8', '19.2', '16.8', '60.7', '54.4', '10.0', '51.6', '32.8', '8.6', '51.1', '73.8', '41.9', '53.3', '31.1', '66.0', '63.6', '57.0', '43.6', '76.1', '11.1', '13.2', '14.3', '73.2', '84.0', '5.5', '62.1', '9.4', '9.3', '18.9', '34.4', '63.3', '21.7', '56.6', '55.5', '55.8', '57.7', '60.9', '58.3', '', '27.5', '79.2', '6.6', '75.1', '55.2', '36.4', '67.6', '61.6', '7.3', '29.0', '51.6', '74.1', '32.3', '13.1', '28.2', '0.9', '41.4', '72.9', '57.5', '39.5', '14.8', '20.4', '37.2', '48.9', '41.3', '79.4', '64.5', '26.1', '26.7', '16.8', '13.2', '5.6', '1.9', '0.8', '41.7', '16.0', '57.7', '3.3', '1.2', '19.3', '75.0', '19.0', '19.4', '48.1', '1.0', '1.4', '3.5', '21.1', '27.0', '3.9', '2.5', '1.3', '62.2', '43.5', '2.8', '34.3', '9.5', '29.0', '45.7', '28.1', '63.1', '2.4', '66.3', '12.9', '34.4', '5.0', '43.3', '0.5', '85.1', '4.4', '65.1', '8.9', '90.3', '2.1', '19.4', '44.6', '0.4', '9.5', '77.2', '23.4', '–', '1.4', '0.3', '33.7', '37.8', '0.7', '23.7', '4.8', '6.5', '1.2', '28.2', '–', '12.1', '18.5', '11.7', '2.5', '<0.1', '28.2', '0.6', '0.8', '18.1', '35.5', '0.5', '0.2', '7.3', '0.2', '54.6', '18.4', '3.8', '0.5', '66.6', '–', '25.0', '74.1', '0.2', '<0.1', '75.1', '84.7', '0.2', '64.5', '–', '3.6', '55.9', '0.4', '41.9', '68.0', '10.4', '116.4', '17.3', '73.6', '27.5', '–', '2.4', '0.2', '20.7', '65.6', '59.8', '56.2', '38.5', '71.8', '29.6', '0.2', '11.9', '60.6', '55.8', '58.9', '59.2', '27.8', '–']
['29,152,868', '3,171,286', '7,178,901', '1,052,903', '701,422', '1,317,163', '1,134,065', '1,916,012', '381,129', '194,817', '536,693', '229,555', '63,126', '', '', '', '', '', '214,966', '211,345', '670,870', '72,816', '533,067', '105,929', '', '', '', '', '', '', '', '', '', '', '', '', '', '222,650', '640,484', '369,770', '1,368,407', '300,427', '101,318', '504,273', '237,441', '169,329', '621,033', '25,851', '109,701', '285,221', '167,003', '246,687', '213,009', '20,051', '16,381', '270,811', '59,157', '155,946', '157,673', '116,932', '22,185', '23,657', '303,446', '29,290', '202,336', '292,376', '246,316', '56,369', '30,188', '186,712', '22,088', '22,374', '8,874', '5,617', '9,919', '28,480', '', '20,423', '23,733', '163,440', '4,355', '28,497', '53,286', '17,426', '20,879', '110,874', '36,864', '32,549', '9,025', '16,091', '73,439', '33,238', '59,719', '15,790', '20,806', '16,408', '12', '31,282', '46,577', '38,574', '38,813', '6,412', '4,415', '16,573', '9,935', '9,906', '70,941', '54,654', '54,234', '30,756', '50,195', '6,307', '26,145', '21,363', '44,858', '765,279', '28,922', '3,999', '5,780', '12,990', '6,460', '90,201', '33,239', '2,395', '12,798', '8,220', '41,480', '3,330', '21,549', '1,155', '4,283', '11,651', '5,856', '10,359', '3,561', '3,361', '15,384', '1,090', '7,915', '3,185', '7,334', '3,453', '23,544', '9,017', '2,813', '824', '2,155', '592', '4,756', '759', '6,903', '3,941', '4,123', '9,294', '2,729', '1,103', '2,082', '23,498', '9,868', '995', '2,132', '5,261', '5,145', '3,741', '5,965', '4,761', '1,460', '2,208', '5,687', '2,838', '249', '6,246', '1,525', '244', '2,922', '9,467', '8,839', '888', '1,684', '805', '1,696', '357', '212', '276', '210', '1,099', '2,517', '150', '80', '981', '154', '2,785', '432', '30', '685', '996', '300', '45', '2,902', '113', '3,807', '1,048', '60', '2,420', '30', '495', '104', '274', '266', '174', '663', '579', '77', '120', '22', '31', '9', '82', '–', '113', '2', '4', '8', '202', '2', '–']

### 데이터 확인
* Countries and regions : 나라 및 지역 / country 컬럼
* Doses administered : 접종 수 / Doses_administered 컬럼
* Enough for % of people : 접종률 / percent_of_people 컬럼
* given 1+ dose : 1차 접종 / 1_percent 컬럼
* fully vaccinated : 2차 접종 / 2_percent 컬럼
* Daily_rate_of_doses_administered : 일일 투여 용량 / Daily_rate_of_doses 컬럼

### 데이터 프레임 생성

In [17]:
import pandas as pd

In [137]:
pd.set_option("display.max_rows", 40)

dat_dict = {'국가':all_data[0],
            '백신접종수':all_data[1],
            'Enough_percent_people':all_data[2],
            '1차접종':all_data[3],
            '2차접종':all_data[4],
            '일별접종수':all_data[5]
           }

co_df = pd.DataFrame(dat_dict)
co_df

,국가,백신접종수,Enough_percent_people,1차접종,2차접종,일별접종수
0,Global Total,"6,199,443,468",–,–,–,"29,152,868"
1,Mainland China,"2,203,185,000",78.7,78.6,73.0,"3,171,286"
2,India,"876,538,633",32.0,46.7,16.8,"7,178,901"
3,EU,"564,029,956",63.5,67.3,64.7,"1,052,903"
4,U.S.,"391,152,574",61.1,64.4,55.8,"701,422"
...,...,...,...,...,...,...
221,Nauru,"14,863",57.2,58.6,55.8,4
222,St. Helena,"7,892",65.8,72.7,58.9,8
223,Falkland Islands,"4,407",73.5,87.7,59.2,202
224,Montserrat,"2,871",28.7,29.7,27.8,2
225,Eritrea,–,–,–,–,–

In [138]:
co_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   국가                     226 non-null    object
 1   백신접종수                  226 non-null    object
 2   Enough_percent_people  226 non-null    object
 3   1차접종                   226 non-null    object
 4   2차접종                   226 non-null    object
 5   일별접종수                  226 non-null    object
dtypes: object(6)
memory usage: 10.7+ KB

### 데이터 전처리
* 데이터가 없거나 제대로 얻어지지 못한 부분 제거
* 추가 컬럼 생성
* [ ].str.len() : 데이터의 길이

In [139]:
co_df["국가"].str.len()

0      12
1      14
2       5
3       2
4       4
       ..
221     5
222    10
223    16
224    10
225     7
Name: 국가, Length: 226, dtype: int64

In [140]:
co_df["국가"].str.len().unique()

array([12, 14,  5,  2,  4,  6,  9,  7,  0,  8, 11, 10,  3, 18, 15, 22, 19,
       17, 21, 24, 16, 13, 30])

### 한 나라의 중복 행 존재로 이 부분은 정보 취득 못함
* 공백행 제거

In [141]:
print(co_df.shape)
co_df = co_df.loc[co_df['국가'].str.len() > 1, :]
print(co_df.shape)

(226, 6)
(207, 6)

In [142]:
# 데이터가 없는 인덱스를 얻어서 해당 행을 삭제한다.

# sel_index = co_df[co_df['국가'].str.len() < 1].index
# print(sel_index)
# print(co_df.shape)
# co_df.drop (sel_index, axis = 0, inplace = True )
# print(co_df.shape)

In [143]:
co_df.head(3)

               국가          백신접종수 Enough_percent_people  1차접종  2차접종       일별접종수
0    Global Total  6,199,443,468                     –     –     –  29,152,868
1  Mainland China  2,203,185,000                  78.7  78.6  73.0   3,171,286
2           India    876,538,633                  32.0  46.7  16.8   7,178,901

### 인덱스가 일정하지 않아, 인덱스 값 초기화
* df.reset_index()

In [144]:
co_df = co_df.reset_index()
print("co_df shape :", co_df.shape)
co_df.tail()

co_df shape : (207, 7)

     index                국가   백신접종수 Enough_percent_people  1차접종  2차접종 일별접종수
202    221             Nauru  14,863                  57.2  58.6  55.8     4
203    222        St. Helena   7,892                  65.8  72.7  58.9     8
204    223  Falkland Islands   4,407                  73.5  87.7  59.2   202
205    224        Montserrat   2,871                  28.7  29.7  27.8     2
206    225           Eritrea       –                     –     –     –     –

### 이상치 '-' 값 확인

In [145]:
co_df.loc[co_df["백신접종수"] == "–"]

     index       국가 백신접종수 Enough_percent_people 1차접종 2차접종 일별접종수
206    225  Eritrea     –                     –    –    –     –

In [146]:
co_df.loc[co_df["Enough_percent_people:"] == "–"]

KeyError: 'Enough_percent_people:'

In [147]:
co_df.loc[co_df["1차접종"] == "–"]

,index,국가,백신접종수,Enough_percent_people,1차접종,2차접종,일별접종수
0,0,Global Total,"6,199,443,468",–,–,–,"29,152,868"
138,157,Syria,"533,949",–,–,–,"23,498"
149,168,Tanzania,"389,807",0.3,–,–,"5,687"
169,188,Jersey,"150,891",–,–,–,80
178,197,Guernsey,"101,898",–,–,–,45
206,225,Eritrea,–,–,–,–,–

In [148]:
co_df.loc[co_df["2차접종"] == "–"]

,index,국가,백신접종수,Enough_percent_people,1차접종,2차접종,일별접종수
0,0,Global Total,"6,199,443,468",–,–,–,"29,152,868"
138,157,Syria,"533,949",–,–,–,"23,498"
149,168,Tanzania,"389,807",0.3,–,–,"5,687"
169,188,Jersey,"150,891",–,–,–,80
178,197,Guernsey,"101,898",–,–,–,45
189,208,Micronesia,"72,085",34.7,41.6,–,266
206,225,Eritrea,–,–,–,–,–

In [149]:
co_df.loc[co_df["일별접종수"] == "–"]

     index            국가   백신접종수 Enough_percent_people 1차접종 2차접종 일별접종수
199    218  Turkmenistan  41,993                   0.4  0.6  0.2     –
206    225       Eritrea       –                     –    –    –     –

In [150]:
co_df.columns

Index(['index', '국가', '백신접종수', 'Enough_percent_people', '1차접종', '2차접종',
       '일별접종수'],
      dtype='object')

### 이상값(결측치 '-') 확인

In [151]:
col_all = co_df.columns
for one in col_all:
    print("col name : ", one)
    print(co_df.loc[co_df[one] == '–', one].count())

col name :  index
0
col name :  국가
0
col name :  백신접종수
1
col name :  Enough_percent_people
5
col name :  1차접종
6
col name :  2차접종
7
col name :  일별접종수
2

### 이상값(결측치 '-') 제거

In [152]:
col_all = co_df.columns
for one in col_all:
    print("col name : ", one)
    print(co_df.loc[co_df[one] == '–', one].count())
    
    co_df.loc[co_df[one] == '–', one] = "-999"
    co_df.loc[co_df[one] == "<0.1", one] = "0.05"

col name :  index
0
col name :  국가
0
col name :  백신접종수
1
col name :  Enough_percent_people
5
col name :  1차접종
6
col name :  2차접종
7
col name :  일별접종수
2

### 이상값(결측치 '-') 제거 확인

In [153]:
col_all = co_df.columns
for one in col_all:
    print("col name : ", one)
    print(co_df.loc[co_df[one] == '–', one].count())

col name :  index
0
col name :  국가
0
col name :  백신접종수
0
col name :  Enough_percent_people
0
col name :  1차접종
0
col name :  2차접종
0
col name :  일별접종수
0

In [154]:
co_df.head(3)

,index,국가,백신접종수,Enough_percent_people,1차접종,2차접종,일별접종수
0,0,Global Total,"6,199,443,468",-999,-999,-999,"29,152,868"
1,1,Mainland China,"2,203,185,000",78.7,78.6,73.0,"3,171,286"
2,2,India,"876,538,633",32.0,46.7,16.8,"7,178,901"

### 수치 데이터의 ',' 제거

In [155]:
co_df["백신접종수"] = co_df["백신접종수"].str.replace(pat = r"[,]", repl = r"", regex = True)
co_df["일별접종수"] = co_df["일별접종수"].str.replace(pat = r"[,]", repl = r"", regex = True)

In [156]:
co_df.head(3)

,index,국가,백신접종수,Enough_percent_people,1차접종,2차접종,일별접종수
0,0,Global Total,6199443468,-999,-999,-999,29152868
1,1,Mainland China,2203185000,78.7,78.6,73.0,3171286
2,2,India,876538633,32.0,46.7,16.8,7178901

### 데이터 전처리 후, 확인

In [157]:
co_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  207 non-null    object
 1   국가                     207 non-null    object
 2   백신접종수                  207 non-null    object
 3   Enough_percent_people  207 non-null    object
 4   1차접종                   207 non-null    object
 5   2차접종                   207 non-null    object
 6   일별접종수                  207 non-null    object
dtypes: object(7)
memory usage: 11.4+ KB

In [158]:
co_df.isnull().sum()

index                    0
국가                       0
백신접종수                    0
Enough_percent_people    0
1차접종                     0
2차접종                     0
일별접종수                    0
dtype: int64

In [159]:
co_df["백신접종수"].unique()

array(['6199443468', '2203185000', '876538633', '564029956', '391152574',
       '233261963', '161057159', '139232210', '108761681', '107197993',
       '99366403', '94250528', '93565474', '89865316', '84351559',
       '79533208', '69936755', '62462921', '56036106', '51222138',
       '46023016', '44361285', '43372270', '43028919', '41886224',
       '41466455', '40273386', '39701907', '39232772', '37158644',
       '31553676', '27109766', '26096107', '25912376', '23830570',
       '23540559', '20571335', '20298170', '19963359', '18526941',
       '17867953', '17176603', '16644129', '15950862', '15057720',
       '14970627', '14763330', '14082920', '14050000', '14013701',
       '13703515', '13166598', '12088975', '11828826', '11788930',
       '11167215', '10802266', '10358035', '10114580', '9306870',
       '9001616', '8815419', '8622733', '8350575', '7757255', '7523959',
       '7448300', '7425277', '7396969', '7200652', '6960192', '6757605',
       '6700654', '6552979', '6409263', '6214949', '5367816', '5278479',
       '5263782', '5196072', '5087231', '4946987', '4762272', '4702517',
       '4545348', '4488153', '4402770', '3872421', '3740279', '3644423',
       '3613357', '3535329', '3413174', '3389520', '3199916', '3134137',
       '3133227', '2929966', '2568320', '2521738', '2380000', '2113404',
       '2058553', '1968171', '1784832', '1760878', '1715133', '1699898',
       '1653422', '1650828', '1633952', '1621953', '1546967', '1495762',
       '1422970', '1392707', '1361564', '1283840', '1147010', '1087426',
       '1068414', '1060145', '1047111', '997632', '975268', '890122',
       '818593', '788502', '784482', '743184', '727664', '711264',
       '675891', '649564', '621853', '606699', '551110', '538748',
       '533949', '464359', '461201', '452830', '443676', '417648',
       '414300', '408535', '407502', '405053', '394029', '389807',
       '387510', '336863', '332954', '329905', '322934', '304218',
       '284246', '254545', '240002', '234124', '232375', '226269',
       '207195', '187160', '186793', '184461', '180320', '164776',
       '155753', '150891', '149431', '148402', '142548', '134945',
       '129318', '110096', '103751', '102357', '101898', '97744', '95918',
       '94715', '89252', '86676', '82679', '79502', '76224', '74129',
       '73603', '72085', '67229', '64799', '55663', '52374', '49980',
       '49310', '47098', '47088', '44624', '41993', '33077', '18584',
       '14863', '7892', '4407', '2871', '-999'], dtype=object)

In [160]:
co_df["백신접종수"].head(15)

0     6199443468
1     2203185000
2      876538633
3      564029956
4      391152574
5      233261963
6      161057159
7      139232210
8      108761681
9      107197993
10      99366403
11      94250528
12      93565474
13      89865316
14      84351559
Name: 백신접종수, dtype: object

In [161]:
co_df.loc[co_df["백신접종수"].isna(), :]

Empty DataFrame
Columns: [index, 국가, 백신접종수, Enough_percent_people, 1차접종, 2차접종, 일별접종수]
Index: []

### index 컬럼 제거

In [162]:
co_df = co_df.iloc[:, 1:]
co_df.columns

Index(['국가', '백신접종수', 'Enough_percent_people', '1차접종', '2차접종', '일별접종수'], dtype='object')

In [163]:
co_tmp = co_df.iloc[:, 1:]
co_tmp.columns

Index(['백신접종수', 'Enough_percent_people', '1차접종', '2차접종', '일별접종수'], dtype='object')

In [164]:
co_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   국가                     207 non-null    object
 1   백신접종수                  207 non-null    object
 2   Enough_percent_people  207 non-null    object
 3   1차접종                   207 non-null    object
 4   2차접종                   207 non-null    object
 5   일별접종수                  207 non-null    object
dtypes: object(6)
memory usage: 9.8+ KB

In [165]:
sel_col = co_tmp.columns
for one in sel_col :
    print("column name :", one)
    co_df[one] = co_df[one].astype("float32")

column name : 백신접종수
column name : Enough_percent_people
column name : 1차접종
column name : 2차접종
column name : 일별접종수

/var/folders/t9/yt46lj5s0lv1slvgpm05mrs00000gn/T/ipykernel_81563/525896243.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  co_df[one] = co_df[one].astype("float32")

In [166]:
co_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   국가                     207 non-null    object
 1   백신접종수                  207 non-null    float32
 2   Enough_percent_people  207 non-null    float32
 3   1차접종                   207 non-null    float32
 4   2차접종                   207 non-null    float32
 5   일별접종수                  207 non-null    float32
dtypes: float32(5), object(1)
memory usage: 5.8+ KB

### 파일 만들기

In [167]:
from datetime import datetime
import os

now = datetime.now()
file_make_time = "%04d%02d%02d_%02d" % (now.year, now.month, now.day, now.hour)
print(now.day - 1)
now_day = now.day
now_hour = now.hour
print(file_make_time)

path_dir = os.getcwd()
path_file_csv = path_dir + "/CSV/" + file_make_time
path_file_excel = path_dir + "/EXCEL/" + file_make_time

print("csv path :", path_file_csv)
print("excel path :", path_file_excel)

28
20210929_14
csv path : /Users/seungwoomun/Documents/Github/LikeLion_13th_DataCourse/02. 웹과 Github 기본/06_python_library/06_corona_analysis/CSV/20210929_14
excel path : /Users/seungwoomun/Documents/Github/LikeLion_13th_DataCourse/02. 웹과 Github 기본/06_python_library/06_corona_analysis/EXCEL/20210929_14

In [168]:
co_df.to_csv(path_file_csv + "_vaccine_bloomberg.csv", index = False)
co_df.to_excel(path_file_excel + "_vaccine_bloomberg.xlsx", index = False)