In [18]:
import pandas as pd

In [19]:
news_data = pd.read_csv("./CSV/05_news_title.csv")

In [20]:
news_data.head(3)

           날짜                                    제목
0  2020-01-21   [사설] 중국발 '우한 폐렴' 공포, 우리나라도 안전지대 아니다
1  2020-01-21  춘절 기간 中관광객 13만명 오는데 ‘우한 폐렴’ 공항 방역 비상
2  2020-01-21           우한 폐렴 1명이 14명 감염 사스급 전염병 우려

In [21]:
news_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952789 entries, 0 to 1952788
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   날짜      object
 1   제목      object
dtypes: object(2)
memory usage: 29.8+ MB

### 날짜 데이터 타입 변경

In [22]:
news_data["날짜"] = news_data["날짜"].astype("str")
news_data["날짜"] = pd.to_datetime(news_data["날짜"], format = "%Y-%m-%d")
# news_data["일자"] = pd.to_datetime(news_data["일자"], unit = "ns")
# news_data["일자"] = news_data["일자"].apply(lambda _ : datetime.strftime(_, "%Y%m%d"))
news_data.head(3)

          날짜                                    제목
0 2020-01-21   [사설] 중국발 '우한 폐렴' 공포, 우리나라도 안전지대 아니다
1 2020-01-21  춘절 기간 中관광객 13만명 오는데 ‘우한 폐렴’ 공항 방역 비상
2 2020-01-21           우한 폐렴 1명이 14명 감염 사스급 전염병 우려

In [23]:
news_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952789 entries, 0 to 1952788
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   날짜      datetime64[ns]
 1   제목      object
dtypes: datetime64[ns](1), object(1)
memory usage: 29.8+ MB

In [24]:
news_data.groupby(news_data["날짜"]).count()

              제목
날짜
2020-01-20   273
2020-01-21   432
2020-01-22   563
2020-01-23   627
2020-01-24   473
...          ...
2021-08-27  2120
2021-08-28   634
2021-08-29  1399
2021-08-30  2862
2021-08-31  2940

[590 rows x 1 columns]

In [25]:
news_cnt = news_data.groupby(news_data["날짜"]).count()
# news_df["일자"] = news_df.index
news_cnt.reset_index(inplace = True)
news_cnt.columns = ["날짜", "뉴스 개수"]
# type(news_df)
news_cnt.head(3)
# news_df.columns
# news_df.info()

          날짜  뉴스 개수
0 2020-01-20    273
1 2020-01-21    432
2 2020-01-22    563

In [26]:
news_cnt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      590 non-null    datetime64[ns]
 1   뉴스 개수   590 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 9.3 KB

In [27]:
news_cnt.to_csv("./CSV/06_news_cnt.csv", index = False)