### 코스피 1일 종가 데이터
* 코로나 기간 : 2020-01-20 ~ 2021-08-31
* 3년 데이터 기간 : 2018-01-01 ~ 2021-08-31
* 데이터 프레임 생성
    * 코로나 기간 : kospi
    * 3년 데이터 기간 : kospi_3_year
* 각각의 csv 파일 생성
    * 코로나 기간 : 09_kospi.csv -> 코로나 확진자 수 vs 코스피 상관관계 분석을 위해 생성
    * 3년 데이터 기간 : 10_kospi_3_year.csv -> 코로나 전후 비교를 위해 생성

In [57]:
import pandas as pd
import yfinance as yf

In [58]:
df = yf.download("^KS11", start = "2020-01-20", end = "2021-08-30")
print(df.info())

[*********************100%***********************]  1 of 1 completed
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 400 entries, 2020-01-20 to 2021-08-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       400 non-null    float64
 1   High       400 non-null    float64
 2   Low        400 non-null    float64
 3   Close      400 non-null    float64
 4   Adj Close  400 non-null    float64
 5   Volume     400 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 21.9 KB
None

In [59]:
df.index

DatetimeIndex(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
               '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31',
               '2020-02-03', '2020-02-04',
               ...
               '2021-08-13', '2021-08-17', '2021-08-18', '2021-08-19',
               '2021-08-20', '2021-08-23', '2021-08-24', '2021-08-25',
               '2021-08-26', '2021-08-27'],
              dtype='datetime64[ns]', name='Date', length=400, freq=None)

In [60]:
# df.to_csv("kospi.csv")

In [61]:
kospi = pd.DataFrame({"코스피" : df["Close"]})
kospi.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 400 entries, 2020-01-20 to 2021-08-27
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   코스피     400 non-null    float64
dtypes: float64(1)
memory usage: 6.2 KB

In [62]:
kospi.reset_index(inplace = True)
kospi.columns = ["날짜", "코스피"]
kospi.tail(3)

            날짜          코스피
397 2021-08-25  3146.810059
398 2021-08-26  3128.530029
399 2021-08-27  3133.899902

In [63]:
df_tmp = yf.download("^KS11", start = "2018-01-01", end = "2021-08-31")
print(df_tmp.info())

[*********************100%***********************]  1 of 1 completed
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 899 entries, 2018-01-03 to 2021-08-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       899 non-null    float64
 1   High       899 non-null    float64
 2   Low        899 non-null    float64
 3   Close      899 non-null    float64
 4   Adj Close  899 non-null    float64
 5   Volume     899 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 49.2 KB
None

In [64]:
kospi_3_year = pd.DataFrame({"코스피" : df_tmp["Close"]})
kospi_3_year.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 899 entries, 2018-01-03 to 2021-08-27
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   코스피     899 non-null    float64
dtypes: float64(1)
memory usage: 14.0 KB

In [65]:
kospi_3_year.reset_index(inplace = True)
kospi_3_year.columns = ["날짜", "코스피"]
kospi_3_year.tail(3)

            날짜          코스피
896 2021-08-25  3146.810059
897 2021-08-26  3128.530029
898 2021-08-27  3133.899902

In [66]:
print(kospi.info())
print(kospi_3_year.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      400 non-null    datetime64[ns]
 1   코스피     400 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 6.4 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899 entries, 0 to 898
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      899 non-null    datetime64[ns]
 1   코스피     899 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 14.2 KB
None

In [67]:
print("kospi shape :", kospi.shape)
print("kospi_3_year shape : ", kospi_3_year.shape)

kospi shape : (400, 2)
kospi_900 shape :  (899, 2)

In [55]:
kospi.to_csv("./CSV/09_kospi.csv", index = False)
kospi_3_year.to_csv("./CSV/10_kospi_3_year.csv", index = False)

In [4]:
# import matplotlib.pyplot as plt
 
# msft = yf.Ticker("066570.KS")
# #msft.info
# df =msft.history(start ='2018-01-01', end = '2020-03-04')
# df =msft.history(period = '1y')
# df =msft.history(period = 'max')
# plt.plot(list(df['Open']))