In [3]:
import pandas as pd
import pybithumb
import pandas as pd

In [7]:
btc_tmp = pybithumb.get_ohlcv("BTC")

# print(type(btc))
# close = btc[‘close’]
# print(close)

print("btc type :", type(btc_tmp))
print(btc_tmp)

btc type : <class 'pandas.core.frame.DataFrame'>
                           open        high         low       close  \
time
2013-12-27 00:00:00    737000.0    755000.0    737000.0    755000.0
2013-12-28 00:00:00    750000.0    750000.0    750000.0    750000.0
2013-12-29 00:00:00    750000.0    750000.0    728000.0    739000.0
2013-12-30 00:00:00    740000.0    772000.0    740000.0    768000.0
2013-12-31 00:00:00    768000.0    800000.0    763000.0    768000.0
...                         ...         ...         ...         ...
2021-10-02 00:00:00  57096000.0  58965000.0  57001000.0  58560000.0
2021-10-03 00:00:00  58561000.0  58579000.0  57256000.0  58137000.0
2021-10-04 00:00:00  58135000.0  59350000.0  57377000.0  57773000.0
2021-10-05 00:00:00  57771000.0  61038000.0  57300000.0  60443000.0
2021-10-06 11:00:00  60464000.0  62488000.0  60051000.0  61997000.0

                          volume
time
2013-12-27 00:00:00     3.780000
2013-12-28 00:00:00    12.000000
2013-12-29 00:00:00    19.058000
2013-12-30 00:00:00     9.488973
2013-12-31 00:00:00    18.650350
...                          ...
2021-10-02 00:00:00  1654.530376
2021-10-03 00:00:00  1293.707679
2021-10-04 00:00:00  1765.363773
2021-10-05 00:00:00  3613.689665
2021-10-06 11:00:00  1451.988504

[2751 rows x 5 columns]

In [8]:
btc_tmp.columns

Index(['open', 'high', 'low', 'close', 'volume'], dtype='object')

In [18]:
bitcoin = pd.DataFrame({"비트코인" : btc_tmp.loc["2020-01-20":"2021-08-31"]["close"]})
bitcoin.head(3)

                 비트코인
time
2020-01-20  9884000.0
2020-01-21  9878000.0
2020-01-22  9887000.0

In [19]:
bitcoin.reset_index(inplace = True)
bitcoin.columns = ["날짜", "비트코인"]
bitcoin.head(3)

          날짜       비트코인
0 2020-01-20  9884000.0
1 2020-01-21  9878000.0
2 2020-01-22  9887000.0

In [22]:
bitcoin_900 = pd.DataFrame({"비트코인" : btc_tmp.loc["2018-01-01":"2021-08-31"]["close"]})
bitcoin_900.head(3)

                  비트코인
time
2018-01-01  18657000.0
2018-01-02  18772000.0
2018-01-03  19970000.0

In [23]:
bitcoin_900.reset_index(inplace = True)
bitcoin_900.columns = ["날짜", "비트코인"]
bitcoin_900.head(3)

          날짜        비트코인
0 2018-01-01  18657000.0
1 2018-01-02  18772000.0
2 2018-01-03  19970000.0

In [24]:
print("bitcoin shape :", bitcoin.shape)
print("bitcoin_900 shape : ", bitcoin_900.shape)

bitcoin shape : (590, 2)
bitcoin_900 shape :  (1340, 2)

In [25]:
bitcoin.to_csv("./CSV/07_bitcoin.csv", index = False)
bitcoin_900.to_csv("./CSV/08_bitcoin_900.csv", index = False)