### 2021_09_16_1

## pandas basic 실습

In [2]:
myfood = ['banana', 'apple', 'candy']
print(myfood[0])
print(myfood[1])
print(myfood[2])

banana
apple
candy

In [3]:
for item in myfood :
    print(item)

banana
apple
candy

In [5]:
dict1 = {"one" : "하나", "two" : "둘", "three" : "셋"}
dict2 = {1 : "하나", 2 : "둘", 3 : "셋"}
dict3 = {"col" : [1, 2, 3], "col2" : ['a', 'b', 'c']}

In [6]:
print(dict1)
print(dict2)
print(dict3)

{'one': '하나', 'two': '둘', 'three': '셋'}
{1: '하나', 2: '둘', 3: '셋'}
{'col': [1, 2, 3], 'col2': ['a', 'b', 'c']}

### pandas module 불러오기

In [7]:
import pandas as pd

In [9]:
print("pandas version :", pd.__version__)

pandas version : 1.3.2

In [11]:
from pandas import Series, DataFrame

In [12]:
## ___ = Series([1000, 14000, 3000, 30000, 10000])
score = Series([1000, 14000, 3000, 30000, 10000])
print(score)

0     1000
1    14000
2     3000
3    30000
4    10000
dtype: int64

In [13]:
type(score)

pandas.core.series.Series

In [17]:
# Series 인덱스 확인
print(score.index)
# 인덱스를 리스트 자료형으로 변경 후, 확인하기
print(list(score.index))
# Series 값 확인
print(score.values)

# score type 확인
print(type(score.index))
print(type(list(score.index)))
print(type(score.values))

RangeIndex(start=0, stop=5, step=1)
[0, 1, 2, 3, 4]
[ 1000 14000  3000 30000 10000]
<class 'pandas.core.indexes.range.RangeIndex'>
<class 'list'>
<class 'numpy.ndarray'>

## 판다스 시리즈 인덱스 지정

In [19]:
# 인덱스(index) 속성 이용
score = Series([1000, 14000, 3000], index = ['2019-05-01', '2019-05-02', '2019-05-03'])
print(score)

2019-05-01     1000
2019-05-02    14000
2019-05-03     3000
dtype: int64

In [21]:
# 실습 1-1 Series를 만들기(자료형으로 만들기)
score = Series(['a', 'b', 'c'])
print(score)
# 실습 1-2 index 넣어보기
score_idx = Series(['a', 'b', 'c'], index = ['2021-09-16', '2021-09-17', '2021-09-18'])
print(score_idx)

0    a
1    b
2    c
dtype: object
2021-09-16    a
2021-09-17    b
2021-09-18    c
dtype: object

In [22]:
for idx in score.index :
    print(idx)

0
1
2

In [23]:
for value in score.values :
    print(value)

a
b
c

In [25]:
# date_range를 이용한 인덱스 지정
idx = pd.date_range(start = "2021-01-01", end = "2021-01-03").tolist()

score_idx = Series(['a', 'b', 'c'], index = idx)

print(score_idx)

2021-01-01    a
2021-01-02    b
2021-01-03    c
dtype: object

### 두 팀의 팀점수 합산해보기
* 길동팀의 3일간의 점수와 toto팀의 3일간의 점수

In [26]:
gildong = Series([1500, 3000, 2500], index = ['2019-05-01', '2019-05-02', '2019-05-03'])
toto = Series([3000, 3000, 2000], index = ['2019-05-01', '2019-05-03', '2019-05-02'])
print(gildong + toto)

2019-05-01    4500
2019-05-02    5000
2019-05-03    5500
dtype: int64

In [28]:
date_idx = pd.date_range(start = "2021-01-01", end = "2021-01-03").tolist()
A = Series([1000, 1000, 1000], index = date_idx)
B = Series([2000, 2000, 2000], index = date_idx)
print(A + B)

2021-01-01    3000
2021-01-02    3000
2021-01-03    3000
dtype: int64

### 데이터는 3개월 날짜 1부터 90까지 idx를 3개월 날짜로 지정하기 (1월~3월)

In [29]:
d_idx = pd.date_range(start = "2021-01-01", end = "2021-03-31").tolist()
date = Series(range(1, 91), index = d_idx)
print(date)

2021-01-01     1
2021-01-02     2
2021-01-03     3
2021-01-04     4
2021-01-05     5
              ..
2021-03-27    86
2021-03-28    87
2021-03-29    88
2021-03-30    89
2021-03-31    90
Length: 90, dtype: int64

## 데이터 프레임의 이해
* 데이터 프레임의 객체를 생성하는 가장 간단한 방법은 딕셔너리를 이용하는 방법
* 데이터 프레임은 Series의 결합으로 이루어진 것으로 생각할 수 있음.
* pandas의 대표적인 기본 자료형이다.
* Seaborn 데이터(load_dataset() - pandas)
    * seaborn에 들어가는 기본적인 데이터 자료형이 pandas이다.
* plotly에서도 pandas 호환
* DataFrame 함수를 이용하여 객체 생성이 가능하다.

In [30]:
from pandas import DataFrame

In [33]:
dat = {'col1' : [1, 2, 3, 4],
      'col2' : [10, 20, 30, 40],
      'col3' : ['A', 'B', 'C', 'D']}
df = DataFrame(dat)
df

   col1  col2 col3
0     1    10    A
1     2    20    B
2     3    30    C
3     4    40    D

In [35]:
idx_date = pd.date_range(start = "2021-09-01", end = "2021-09-04").tolist()
dat = {'col1' : [1, 2, 3, 4],
      'col2' : [10, 20, 30, 40],
      'col3' : ['A', 'B', 'C', 'D']}
df = DataFrame(dat, index = idx_date)
df

            col1  col2 col3
2021-09-01     1    10    A
2021-09-02     2    20    B
2021-09-03     3    30    C
2021-09-04     4    40    D